<div class="_mocks_mocker row m-0">
	<div class="col-12 p-0">
		<div class="_shuffle_container">
			<% if @fav_mocks.count > 0 %>
				<% @fav_mocks.each do |mock| %>
					<%= render 'mocks/mocky', mock: mock %>
				<% end %>
			<% else %>
				<div class="col-12">
					<div class="jumbotron text-center bg_white">
						<h3 class="_fw600">Nothing here.</h3>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>