<div class="panel">
	<div class="panel-body">
		<div class="row message">
			<div class="col-1 d-grid">
				<%= image_tag avatar_url(message.mocker), class: "img-circle avatar-medium" %>
			</div>
			<div class="col">
				<%= message.body %>
			</div>
			<div class="col-3 pull-right">
				<small class=" time-message"><%= message.created_at.strftime("%I:%M %p") %></small>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.message{
		border-bottom: 1px solid #eaeaea;
		padding: 15px;
	}
</style>