<% content_for :title, "Trademark complaint • Mockering" %>
<div class="container">
	<br>
	<div class="jumbotron text-center">
		<h3 class="_fw600">Thanks for contact us.</h3>
		<p>In these days we will contact to you for your request.</p>
	</div>
</div>