<div class="_notifications" data-behavior="notifications">
	<div class="_conta">
		<h2 class="_title _fw600">Notifications</h2>
		<div class="items" data-behavior="notification-items"></div>
	</div>
</div>