<nav class="_navbar d-sm-none">
  <div class="_container _1">
    <div class="_cont _1">
      <a class="_action _1 _theme">
        <div class="_in">
          <i class="bi bi-moon-stars _sun-mode"></i>
          <i class="bi bi-sun  _moon-mode"></i>
        </div>
      </a>
      <%= link_to root_path, data: { no_turbolink: true }, class: "_logo _2" do %>
        <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_1.svg', class: "_logonav _3 d-none-moon", alt: 'Mockering'%>
        <%= image_tag '//d8mn60sm70fqt.cloudfront.net/assets/brand/v2/icon_dark_mode.svg', class: "_logonav _4 d-none-sun", alt: 'Mockering'%>
      <% end %>
      <a class="_action _2 _menu">
        <div class="_in">
          <span class="_1"></span>
          <span class="_2"></span>
          <span class="_3"></span>
        </div>
      </a>
    </div>
  </div>
</nav>