<div class="container">
  <h2 class="_title _1">Notification Settings</h2>
  <%= form_for :setting do |f| %>
    <div class="row m-0">
      <div class="col-auto p-0">
        <label style="margin-right: 15px;">
          <%= f.check_box :enable_email %> 
          <span>Email</span>
        </label>
      </div>
      <% f.check_box :enable_sms %>
    </div>
    <div class="row">
      <div class="col-auto pull-right">
        <%= f.submit "Save", class: "btn btn_primary", style: "width:max-content;" %>
      </div>  
    </div>
  <% end %>
</div>