<% if review.answers.count != 0 %>
	<a data-toggle="collapse" href="#collapse_<%= review.id %>" aria-expanded="false" aria-controls="#collapse_<%= review.id %>"><i class="fas fa-comment"></i> <%= number_to_human(review.answers.count, units: { thousand: 'k', million: 'm', billion: 'b' }) %></a>
<% end %>