<br>
<br>
<div class="text_align_footer">
	<%= link_to 'Guidelines', howmockeringworks_path, class: "_link _2 m-0-auto text-center", target: "_blank" %>
</div>
<style type="text/css">
	._link._2{
		font-weight: 700;
		color:#484848;
	}
	.text_align_footer{
		text-align-last: center; 
	}
</style>