<div id="paypal-button-container_1"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AcNbS28FdXfl1gGgOxLF07b0UijOAlzEEP-BQn7p99WGBUEwlN-jYB-MT2Pl4bdZ1k-kXAUdYzrBLQ5v&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'blue',
          layout: 'vertical',
          label: 'paypal'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          'plan_id': 'P-1X93679227417180UL6JYANI'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID);
      }
  }).render('#paypal-button-container_1');
</script>