<% content_for :title, "Become a Mockering Contributor • Mockering" %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <div class="jumbotron">
        <br>
        <h1 class="display-4  text-md-center">Mockering Contributor</h1>
        <p class="lead  text-md-center">Hi! Welcome to the site that opposes censoring the truth.</p>
        <hr class="my-4  text-md-center">
        <p class=" text-md-center">Each donation will be used to pay for the servers and to improve your experience on our website.</p>
        <br>
        <br>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseLearner" aria-expanded="true" aria-controls="collapseLearner">
                  <div class="d-flex">
                     <h3>Donate </h3>
                  </div>
                </button>
              </h2>
            </div>

            <div id="collapseLearner" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <form action="https://www.paypal.com/donate" method="post" target="_top" style="text-align:center;">
                  <input type="hidden" name="hosted_button_id" value="UHWEWZ8P9HTNS" />
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                  <img alt="" border="0" src="https://www.paypal.com/en_CO/i/scr/pixel.gif" width="1" height="1" />
                  </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseMaster" aria-expanded="false" aria-controls="collapseMaster">
                  <div class="d-flex">
                    <%= image_tag "https://mockering.s3-sa-east-1.amazonaws.com/assets/images/badges/badge-contribuitor.svg", class: "_badge_verification _3" %> <h3>Learner</h3> <h3 class="price_contributor">($5/month)</h3>
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseMaster" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-md-center">Your comments are highlighted.</p>
                <%= render 'pages/paypal_learner' %>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
        
    </div>
  </div>
</div>
<style type="text/css">
  ._badge_verification._2{
    width: 60px;
    height: 60px;
  }
  ._badge_verification._3{
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .price_contributor{
    right: 15px;
    font-size: 15pt;
    line-height: 2;
    margin-left: 7px;
    font-weight: 800;
  }
  #paypal-button-container{
    text-align:center;
  }
  @media(min-width: 500px){
    .paypal-button-container{
      max-width: 100% !important;
    }
  }
    
</style>