<% content_for :title, "Mockering - Free content to enjoy" %>
<section class="_prelaunch _1">
	<div class="_content">
		<div class="row m-0">
			<div class="col-lg-5 _1 offset-lg-1">
				<div class="d-table fullsize">
					<div class="d-table-cell v-middle">
						<div class="_info">
							<h1>Descubre el nuevo contenido</h1>
							<h1 class="_stylus _1">polémico y alternativo.</h1>
							<p>Visibiliza y visualiza sin baneos tus creaciones junto al contenido alternativo que otras plataformas bloquean.</p>
							<div class="_action">
								<div class="row m-0">
									<div class="col-auto pl-0 pt-4">
										<a class="_btn _light_1" href="../login">Acceder</a>
									</div>
									<div class="col-auto pl-0 pt-4">
										<a class="_btn _light_2" href="../registration">Primera vez</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 _2"></div>
		</div>
	</div>
</section>
<section class="_prelaunch _2">
	<div class="_content">
		<div class="row m-0">
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _1">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/show-light.svg">
					</div>
					<h4>Visibilidad Instantánea</h4>
					<p>En Mockering promovemos el contenido alternativo que en otras plataformas no tienen lugar.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _2">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/wallet-light.svg">
					</div>
					<h4>Contenido Monetizado</h4>
					<p>Da valor a las creaciones que ofreces a cambio de contenido exclusivo.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _3">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/voice-light.svg">
					</div>
					<h4>Libre Expresión</h4>
					<p>Mockering no censura contenido polémico siempre y cuando no afecte la suceptibilidad de la comunidad.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-3 _1">
				<div class="_item">
					<div class="_icon _4">
						<img src="//d8mn60sm70fqt.cloudfront.net/assets/svg/home/activity-light.svg">
					</div>
					<h4>Sin Publicidad Invasiva</h4>
					<p>Disfruta del contenido que la comunidad brinda sin molestas publicidades, tu decides como apoyar a tu creador favorito.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="_prelaunch _3">
	<div class="_content">
		<div class="row m-0">
			<div class="col-lg-6 _1">
				<div class="d-table fullsize">
					<div class="d-table-cell v-middle">
						<div class="_cont">
							<h1>Crítica sin censura</h1>
							<p>Publica y descubre información polemica sin baneos.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 _2">
				<article class="_masonry_prelaunch _1" >
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_2.jpg">
						</div>
					</figure>
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_3.jpg">
						</div>
					</figure>
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_1.jpg">
						</div>
					</figure>
					<figure class="_item_shuffle _column_shuffle">
						<div class="masonryitem_1 ">
							<img class="my-sizer-element" src="//d8mn60sm70fqt.cloudfront.net/assets/images/prelaunch_4.jpg">
						</div>
					</figure>
				</article>
			</div>
		</div>
	</div>
		
</section>

<style>
	section._prelaunch._3 {
	  padding-top: 100px;
	  padding-bottom: 100px;
	}
	section._prelaunch._3>._content {
	  width: 1500px;
	  margin: 0 auto;
	  max-width: 90%;
	}
	section._prelaunch._3>._content>div>._1 ._cont {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
	}
	section._prelaunch._3>._content>div>._1 ._cont>h1 {
	  font-family: 'Sofia Pro', sans-serif;
	  font-weight: 900;
	  letter-spacing: -1px;
	}
	section._prelaunch._3>._content>div>._1 ._cont>p{
    font-family: 'Sofia Pro', sans-serif;
    font-size: 1.01rem;
    font-weight: 300;
	}
	section._prelaunch._3 .masonryitem_1 img{
    width: 100%;
    border-radius: 9px;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon {
    background: black;
    border-radius: 25px;
    width: 65px;
    height: 65px;
    display: grid;
    place-content: center;
    margin-bottom: 30px;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon>img {
	  width: 35px;
	  height: 35px;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._1 {
    background: linear-gradient(45deg, #c8e3fa, #e62490);
    box-shadow: 0 0 50px -10px #db3a94;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._2 {
    background: linear-gradient(45deg, #f43b86, #fda099);
    box-shadow: 0 0 50px -10px #f43b86;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._3 {
    background: linear-gradient(45deg, #52d0e2, #fdea96);
    box-shadow: 0 0 50px -10px #52d0e2;
	}
	section._prelaunch._2>._content>div>._1>._item>._icon._4 {
	  background: linear-gradient(45deg, #f43b86, #fedc45);
    box-shadow: 0 0 50px -10px #f6537d;
	}
	section._prelaunch._1 {
	  width: 1500px;
	  margin: 40px auto;
	  max-width: 90%;
	}
	section._prelaunch._1>._content>.row{
		background: #000000;
    border-radius: 20px;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
	}
	section._prelaunch._2>._content {
	  width: 1200px;
	  margin: 50px auto;
	  max-width: 90%;
	}
	section._prelaunch ._item{
		margin-top:35px;
		margin-bottom:35px;
	}
	section._prelaunch ._item>h4{
		font-size: 1.2rem;
    font-family: 'Sofia Pro black', sans-serif;
	} 
	section._prelaunch ._item>p{
		font-size: 1rem;
    font-family: 'Sofia Pro', sans-serif;
	} 
	section._prelaunch ._item>img {
    width: 45px;
    margin-bottom: 20px;
	}
	section._prelaunch._1>._content>.row>._2{
		background: url(//d8mn60sm70fqt.cloudfront.net/assets/bgs/bg_prelaunch.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
	}
	section._prelaunch._1>._content>.row>._1 ._info h1 {
    font-family: 'Sofia Pro black', sans-serif;
    margin-bottom: 0;
	}
	section._prelaunch._1>._content>.row>._1 ._info{
		color: white;
	}
	section._prelaunch._1>._content>.row>._1 ._info h1:last-of-type {
    margin-bottom: 20px;
	}
	section._prelaunch._1>._content>.row>._1 ._info ._stylus._1{ 
    background: linear-gradient(45deg, #f43b86,#f43b86, #7026c6, #7026c6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	section._prelaunch._1>._content>.row>._1 ._info p{
    font-family: 'Sofia Pro', sans-serif;
		line-height: 2;		
	}
	a._btn._light_1 {
		opacity: 0.9;
	  background: white;
	  line-height: 1;
	  padding: 30px 60px;
	  padding-top: 26px;
	  border-radius: 15px;
	  text-align: center;
	  border: 0;
	  cursor: pointer;
	  font-family: 'Sofia Pro', sans-serif;
	  transition: all .3s ease;
	}
	a._btn._light_1:hover {
		border: 0;
		opacity: 1;
		color: #000000;
		transform: translateY(-5px);
    box-shadow: 0 0 20px 4px #ffffff8a;
	}
	a._btn._light_2 {
		opacity: 0.9;
	  background: #2c2c2c;
	  line-height: 1;
	  padding: 30px 60px;
	  padding-top: 26px;
	  border-radius: 15px;
	  text-align: center;
	  border: 1px solid white;
	  color: white;
	  display: block;
	  cursor: pointer;
	  font-family: 'Sofia Pro', sans-serif;
	  transition: all .3s ease;
	}
	a._btn._light_2:hover {
		opacity: 1;
		color: #ffffff;
		background: #4a4a4a;
		transform: translateY(-5px);
    box-shadow: 0 0 20px 4px #ffffff8a;
	}
	@media(min-width: 992px){
		section._prelaunch._1>._content>.row>._1{
	    height: 50vh;
	    min-height: 550px;
		}
		section._prelaunch._1 {
		  margin: 60px auto;
		}
		section._prelaunch._2>._content {
			width: 1400px;
			margin: 50px auto;
			max-width: 85%;
		}
		section._prelaunch._3>._content>div>._1 ._cont {
		  width: 500px;
		  max-width: 100%;
	    margin: 0 auto;
	    text-align: left;
		}
	}
	@media(max-width: 991px){
		article._masonry_prelaunch{
		  column-width: 40vw !important;
		}
	}
	@media(max-width: 575px){
		._action>.row>div {
			width: 100%;
		}
	}





	article._masonry_prelaunch {
	  column-width: 16vw;
	  column-gap: 0;
	}
	article._masonry_prelaunch>figure {
    display: inline-block;
    padding: 10px;
    width: 100%;
    margin: 0;
	}
	article._masonry_prelaunch>figure {
	  position: relative;
	}
	article._masonry_prelaunch>figure:last-of-type:before {
	  content: '';
	  position: absolute;
	  background: linear-gradient(0, white, rgb(255, 255, 255, 0.56), rgba(255, 0, 0, 0));
    inset: 0 0 0 0;
	}
</style>