<% content_for :title, "Searching • Mockering" %>
<div id="_big_row_index" class="container-lg">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal full">
			<div class="on_content" id="on_content">
				<div class="row m-0">
					<div class="col-12 _board p-0">
						<%= render 'mocks/tags' %>
						<div class="mocks_content mt-4">

							<div id="mockers">
								<div class="row">
									<%= render 'mockers/mini_show' %>
								</div>
							</div>
							<div class="masonry_1 mt-4">
								<%= render 'mocks/mock_search' %>
							</div>
							<%= will_paginate @mocks %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>