<% content_for :title, "Searching • Mockering" %>
<div id="mockers">
	<div class="row">
		<%= render 'mockers/mini_show' %>
	</div>
</div>
<div class="_mocks">
	  <% @searchmocks.each do |mock| %>
	      <%= render 'mocks/mock', mock: mock %>
	  <% end %>
</div> 
<%= will_paginate @searchmocks %>