<div class="container subs">
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="prelaunch">
				<div class="d-table fullwidth fullheight">
					<div class="d-table-cell v-middle">
						<div class="d-block">
							<div class="cont_csmt_1 ">
			                    <br/>
			                    <br/>
			                    <a id="icondefault_2" href="/">
			                      <div class="display-initial">
			                        <img border="0" class="logo hide-less-200px" src="https://mockering.s3-sa-east-1.amazonaws.com/assets/mockering_red.svg" alt="Apposento">
			                      </div>
			                    </a>
			                    <br/>
			                    <br/>
								<h3 class="_fw300" id="pre_title">Libertad, pensamiento crítico y burla al poder.</h3>
								<h1 class="title_1 m-0 _fw700" id="title_subs">Investiga, crea y publica los videos que los que están en el poder no quieren que el mundo vea...</h1>
								<hr>
								<h4 class="fontweight-2" id="info_subs">Obten tu insignia de usuario honorario por acceso anticipado, guarda tu nombre de usuario y se de los primeros en saber cuándo se lance oficialmente Mockering.</h4>
		                  		<%= form_for @subscription do |f| %>
									<%= f.email_field :email, class: "form-group", id: "subs_email", placeholder: 'tunombre@email.com', required: true %>
									<%= f.submit "Entrar", class: "submit-subs" %>
								<% end %>
								<br>
								<p>“Para saber quien gobierna sobre ti, simplemente encuentra a quien no estas autorizado a criticar” <small class="text-muted">— Voltaire</small></p>
			                    <br/>
			                    <br/>
			                    <br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
<style type="text/css">
	._nav._1{
		display:none !important;
	}
	
	#navbar_cstm2{
		display: none !important;
	}
	body{
		background:white !important;
	}
	.prelaunch{
		height:100vh;
		width:100%;
	}
	.links_i18n{
		position: absolute;
		display: flex;
		top: 15px;
		list-style: none;
	}
	.links_i18n li a{
		opacity: 0.5;
		padding:9px;
		padding-right:0;
	    font-family: 'Rubik','SofiaPro','TT Commons', 'Lato', 'Circe', 'Open Sans', 'Montserrat', 'Helvetica', 'Raleway',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Open Sans","Helvetica Neue",Arial,sans-serif;
	    font-weight: 200;
	    letter-spacing: 2px;
	    border-radius: 6px;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
	}
	.links_i18n li a:hover,
	.links_i18n li a:focus{
		color:#5dcbdc;
		opacity: 1;
	}
	#info_subs{
		background: white;
	}
	#icondefault_2 .icon{
	    width: auto;
	    height: 60px;
    	margin-left: -9px;
	}
	#new_subscription{
	    width: max-content;
	    border: 1px solid #cecece;
	    border-radius: 9px;
	    padding: 0 15px;
	    margin-top: 30px;
    	display: flex;
	}
	#subs_email{
		border:0;
	    background: transparent;
	    margin: 0;
	    margin-right: 50px;
    	line-height: 3.5;
    	outline: none !important;
    	font-weight: 700;
	}
	#subs_email::placeholder{
		color:grey;
		opacity: 0.6;
		font-weight: 400;
	}
	.submit-subs{
	    background: linear-gradient(45deg, #ff5858, #FF7043);
	    border: 1px solid transparent;
	    border-radius: 9px;
	    padding: 10px 15px;
	    font-family: 'Raleway';
	    font-weight: 800;
	    color: white;
	    margin-bottom: 9px;
	    margin-top: 9px;
	    outline: none !important;
	    -webkit-transition: all .2s ease-in;
	    transition: all .2s ease-in;
	}
	.submit-subs:hover{
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	.submit-subs:focus,
	.submit-subs:active{
	    background: linear-gradient(45deg, #ff5858, #FF7043);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	#item_subs_1-1{
		background: url(https://apposento.s3-sa-east-1.amazonaws.com/assets/images/bg/austin-neill.jpg);
	}
	#item_subs_1-2{
		background: url(https://apposento.s3-sa-east-1.amazonaws.com/assets/images/bg/gades-photography.jpg);
	}
	#item_home_1-1{
		background-position-x:25% !important;
	}
	.container.subs .col-md-5{
		position:absolute;
		top:0;
		right: 0;
		bottom:0;
		padding: 0;
	}
	.carousel-inner{
		border-radius: 0 0 0 15px;
	}
	#carousel_subs .home_slider_bg{
		height:100vh;
		width: 100%;
    	background-size: cover;
    	background-position-x: center;
	}
	#icondefault_2 .logo{
		width:auto;
		height: 50px;
		margin-top:8px;
		margin-left: 6px;
	}
	.cont_csmt_1{
    	background: white;
	    /*-webkit-box-shadow: 0 7px 20px 0px rgba(213, 229, 241, 0.8);
	    box-shadow:0 7px 20px 0px rgba(213, 229, 241, 0.8);*/
	}
	.card_cont{
		padding:30px;
	}
	@media(max-height: 700px){
		.prelaunch{
		    height: auto;
		    min-height: 602px;
		}
		.cont_csmt_1 {
			margin-top: 50px;
		}
		footer{
			display: none;
		}
	}
	@media(max-width: 575px){
		#icondefault_2 .logo{
			height:30px;
    		margin-top: 7px;
		}
		#icondefault_2 .icon{
			height:auto;
    		width: 24px;
		}
		#new_subscription{
			margin-bottom: 25vh;
		}
		.links_i18n{
			right: 15px;
		}
		.prelaunch{
			height:110vh;
		}
	}
	@media(max-width: 400px){
		#subs_email{
			margin:0;
		}
	}

	@media(max-width: 300px){
		#new_subscription{
    		display: grid;
		}
		#icondefault_2 .logo{
			width: 150px;
		}
	}
</style>
