<div class="ad _content">
	<section><p>Ad <sub>Click here to help us 🙌</sub></p></section>
	<div>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Mockering Index -->
		<ins class="adsbygoogle"
		    style="display:block"
		    data-ad-client="ca-pub-6672974101868377"
		    data-ad-slot="8615154676"
		    data-ad-format="auto"
		    data-full-width-responsive="true"></ins>
		<script>
		    (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>