<% content_for :title, "Mockering - Free content to enjoy" %>
<% content_for :name, "home" %>
<div id="_big_row_index">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal _1">
			<div class="on_content" id="on_content">
				<div class="_board _feed">


					<section class="_onemocks">
			      <div id="splide_onemocks" class="splide splide_onemocks">
			      	<div class="_title">
			      		<h3></h3>
			      	</div>
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @onemocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>

					<section class="_twomocks">
			      <div id="splide_twomocks" class="splide splide_onemocks">
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @twomocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>

					<section class="_threemocks">
			      <div id="splide_threemocks" class="splide splide_onemocks">
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @threemocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>

					<section class="_fourmocks">
			      <div id="splide_fourmocks" class="splide splide_onemocks">
			        <div class="splide__arrows">
			          <button class="splide__arrow splide__arrow--prev">
			            <i class="bi bi-arrow-left"></i>
			          </button>
			          <button class="splide__arrow splide__arrow--next">
			            <i class="bi bi-arrow-right"></i>
			          </button>
			        </div>
			        <div class="splide__track">
			          <ul class="splide__list">
									<% @fourmocks.each do |mock| %>
				            <li class="splide__slide">
				              <div class="splide__slide__container ">
												<%= render 'mock', mock: mock %>
				              </div>
				            </li>
									<% end %>
			          </ul>
			        </div>
			      </div>
					</section>

					
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var splide1 = new Splide('#splide_onemocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
  $(document).ready(function() {
    var splide2 = new Splide('#splide_twomocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
  $(document).ready(function() {
    var splide3 = new Splide('#splide_threemocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
  $(document).ready(function() {
    var splide4 = new Splide('#splide_fourmocks', {
      type: 'loop',
      perPage: 4,
      perMove: 1,
      breakpoints: {
        991: {
          perPage: 2,
        },
        575: {
          perPage: 1,
        },
      }
    }).mount();

  });
</script>