<% content_for :title, "Mockering - Real or fake... We just post it!" %>
<div id="_big_row_index" class="container-lg">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal _1">
			<div class="on_content" id="on_content">
					<div class="_board">
						<% render 'shared/categories' %>
							<% if params[:tag].present? %>
								<div class="mocks_content">
									<div class="_shuffle_container">
										<% @mocks.each do |mock| %>
											<%= render 'mock', mock: mock %>
										<% end %>
									</div>
									<div class="my-sizer-element"></div>
								  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								    <div class="btn-group mr-2 m-0-auto" role="group" aria-label="First group">
								      <%= will_paginate @mocks, renderer: BootstrapPagination::Rails, param_name: 'page' %>
								    </div>
								  </div>
								</div>
							<% else %>
								<% if @new_mocks.present? %>
									<div class="mocks_content">
										<div class="_shuffle_container">
											<% @new_mocks.each do |mock| %>
												<%= render 'mock', mock: mock %>
											<% end %>
										</div>
										<div class="my-sizer-element"></div>
									</div>
								<% end %>
							<% end %>
							<!--<div class="row m-0">
								<div class="col">
									<div class="ad _content">
										<section>
											<a data-toggle="collapse" href="#collapseAd1" role="button" aria-expanded="false" aria-controls="collapseAd1" class="_link_collapse"><i class="bi bi-chevron-up"></i> Ad</a>
										</section>
										<div class="collapse _collapse_ad show" id="collapseAd1">
											<div class="card-body p-0 _ad_body">
									  		<%= render 'ad1' %>
											</div>
										</div>
									</div>
								</div>
							</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	._board hr{
		margin-top:0 !important;
	}
</style>
<script type="text/javascript">
	/*
	$(document).ready(function(){

	    $(".arrow-left-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "-="+351});
	    });
	    $(".arrow-right-navigation_2").click(function(){
	        $("#mocks_whatever").animate({scrollLeft: "+="+351});
	    });

		$('#mocks_whatever').scroll(function() {
		    if($(this).scrollLeft() == 0) {
		        $('.arrow-left-navigation_1').hide();
		    }
		    else if($('.arrow-left-navigation_2').css('display') != 'block') {
		        $('.arrow-left-navigation_2').show();
		    }
		}).scroll();

	}); */
</script>