<% content_for :title, "Library • Mockering" %>
<% content_for :name, "Library" %>
<div class="_navy">
  <div class="_cont _1">
    <div class="_back">
      <i class="bi bi-arrow-left _1"></i>
      <input class="_ocult _2" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" />
    </div>
    <b>Library</b>
  </div>
</div>
<div class="_cont _1">
</div>
<div class="_cont _2">
  <% if @mocks.present? %>
    <% @mocks.each do |mock| %>
      <article>
        <% if mock.mocktype == 'tracks' %>
          <%= render 'mocks/cards/track', mock: mock %>
        <% elsif mock.mocktype == 'mockets' %>
          <%= render 'mocks/cards/mocket', mock: mock %>
        <% elsif mock.mocktype == 'mockies' %>
          <%= render 'mocks/cards/mocky', mock: mock %>
        <% end %>
      </article>
    <% end %>
  <% else %>
    <div class="_nothinghere">
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_IwKi9V.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      <h3>Nothing yet!</h3>
    </div>
  <% end %>
</div>
<div class="_cont _3">
  <%= will_paginate @mocks %>
</div>