<div class="container">
		<br>
		<h1 class="_title _1">New Mock</h1>
		<br>
		<%= render 'form' %>
</div>

<style type="text/css">
	._title._1 {
	    font-size: 30pt;
	    font-weight: 700;
	}
	.accordion._1 .card-header{
		border-radius: 9px 9px 0 0;
		background: white;
	}
	.accordion._1 .card-header button{
		color:black;
		font-weight: 600;
		outline: none !important;
		box-shadow: 0 0 0 0;
		text-decoration: none;
	}
</style>