<% content_for :title, "Random mocks • Mockering" %>
<div id="_big_row_index">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal full">
			<div class="on_content" id="on_content">
				<div class="row m-0">
					<div class="col-12">
						<br>
						<h2 class="_title _3">Random mocks</h2>
					</div>
					<div class="col-12 _board">
						<div class="mocks_content">
							<div class="_shuffle_container">
								<% @mocks.each do |mock| %>
									<%= render 'mock', mock: mock %>
								<% end %>
							</div>
							<%= will_paginate @mocks %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	var clipboard = new Clipboard('.clipboard-btn');
	console.log(clipboard);

	var Shuffle = window.Shuffle;

	var myShuffle = new Shuffle(document.querySelector('._shuffle_container'), {
	itemSelector: '._item_shuffle',
	sizer: '.my-sizer-element',
	buffer: 1,
	});
</script>