<% content_for :title, "Mockering - Free content to enjoy" %>
<% content_for :name, "Tracks" %>
<div class="_navy">
	<b>Tracks</b>
</div>
<div class="_cont _1">
</div>
<div class="_cont _2">
  <% @mocks.each do |mock| %>
    <article>
      <%= render 'mocky', mock: mock %>
    </article>
  <% end %>
</div>