<% content_for :title, "Tributes • Mockering" %>
<div id="_big_row_index" class="container-lg">
	<div class="row m-0">
		<div class="col-12 p-0 _content _content_principal full">
			<div class="on_content" id="on_content">
				<div class="row m-0">
					<div class="col-12">
						<br>
						<h2 class="_title _3">Tributes</h2>
					</div>
					<div class="col-12 _board">
						<div class="mocks_content">
							<div class="row">
								<%= render 'mock' %>
							</div>
							<%= will_paginate @mocks %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>