<div class="container _cont_howmockeringworks">
	<h3 class="_fw600">Safety policies</h3>
	<br>
	<ul>
		<li><%= link_to 'Suicide and self-injury', suicide_self_injury_howmockeringworks_path %></li>
		<li><%= link_to 'Parent resources', safetypolicies_parent_howmockeringworks_path %></li>
		<li><%= link_to 'Satying safe as a teen', safetypolicies_parent_howmockeringworks_path %></li>
	</ul>
</div>