/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* FONTS */
  /* JOSEFIN SANS */
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
  /* END JOSEFIN SANS */
  /* SOFIA PRO */
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProUltraLight.eot');
      src: font-url('SofiaProUltraLight.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProUltraLight.ttf') format("truetype"), 
        font-url('SofiaProUltraLight.woff') format("woff"), 
        font-url('SofiaProUltraLight.woff2') format("woff2");
      font-weight: 100;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProExtraLight.eot');
      src: font-url('SofiaProExtraLight.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProExtraLight.ttf') format("truetype"), 
        font-url('SofiaProExtraLight.woff') format("woff"), 
        font-url('SofiaProExtraLight.woff2') format("woff2");
      font-weight: 200;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProLight.eot');
      src: font-url('SofiaProLight.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProLight.ttf') format("truetype"), 
        font-url('SofiaProLight.woff') format("woff"), 
        font-url('SofiaProLight.woff2') format("woff2");
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProRegular.eot');
      src: font-url('SofiaProRegular.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProRegular.ttf') format("truetype"), 
        font-url('SofiaProRegular.woff') format("woff"), 
        font-url('SofiaProRegular.woff2') format("woff2");
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProMedium.eot');
      src: font-url('SofiaProMedium.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProMedium.ttf') format("truetype"), 
        font-url('SofiaProMedium.woff') format("woff"), 
        font-url('SofiaProMedium.woff2') format("woff2");
      font-weight: 600;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProSemiBold.eot');
      src: font-url('SofiaProSemiBold.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProSemiBold.ttf') format("truetype"), 
        font-url('SofiaProSemiBold.woff') format("woff"), 
        font-url('SofiaProSemiBold.woff2') format("woff2");
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProBold.eot');
      src: font-url('SofiaProBold.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProBold.ttf') format("truetype"), 
        font-url('SofiaProBold.woff') format("woff"), 
        font-url('SofiaProBold.woff2') format("woff2");
      font-weight: 800;
      font-style: normal;
    }
    @font-face {
      font-family: 'SofiaPro';
      src: font-url('SofiaProBlack.eot');
      src: font-url('SofiaProBlack.eot?#iefix') format("embedded-opentype"), 
        font-url('SofiaProBlack.ttf') format("truetype"), 
        font-url('SofiaProBlack.woff') format("woff"), 
        font-url('SofiaProBlack.woff2') format("woff2");
      font-weight: 900;
      font-style: normal;
    }
  /* END SOFIA PRO */
  /* TT COMMONS */
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-Thin.eot');
      src: font-url('TTCommons-Thin.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-Thin.ttf') format("truetype"), 
        font-url('TTCommons-Thin.woff') format("woff");
      font-weight: 100;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-ExtraLight.eot');
      src: font-url('TTCommons-ExtraLight.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-ExtraLight.ttf') format("truetype"), 
        font-url('TTCommons-ExtraLight.woff') format("woff");
      font-weight: 200;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-Light.eot');
      src: font-url('TTCommons-Light.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-Light.ttf') format("truetype"), 
        font-url('TTCommons-Light.woff') format("woff");
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-Regular.eot');
      src: font-url('TTCommons-Regular.eot?#iefix') format("embedded-opentype");
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-Medium.eot');
      src: font-url('TTCommons-Medium.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-Medium.ttf') format("truetype"), 
        font-url('TTCommons-Medium.woff') format("woff");
      font-weight: 600;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-DemiBold.eot');
      src: font-url('TTCommons-DemiBold.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-DemiBold.ttf') format("truetype"), 
        font-url('TTCommons-DemiBold.woff') format("woff");
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-Bold.eot');
      src: font-url('TTCommons-Bold.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-Bold.ttf') format("truetype"), 
        font-url('TTCommons-Bold.woff') format("woff");
      font-weight: 800;
      font-style: normal;
    }
    @font-face {
      font-family: 'TT Commons';
      src: font-url('TTCommons-Black.eot');
      src: font-url('TTCommons-Black.eot?#iefix') format("embedded-opentype"), 
        font-url('TTCommons-Black.ttf') format("truetype"), 
        font-url('TTCommons-Black.woff') format("woff");
      font-weight: 900;
      font-style: normal;
    }
  /* END TT COMMONS */
/* END FONTS */

/* GENERAL */
  *{
    font-family:'Sofia Pro', 'TT Commons', 'Josefin Sans', sans-serif;
  }
  html, body {overflow-x:hidden}
  body {
  	background: #ffffff;
  }
  @media (min-width: 576px){
    ._container, ._container-sm {
        max-width: 640px;
    }
  }
  @media (min-width: 768px){
    ._container, ._container-sm, ._container-md {
        max-width: 820px;
    }
  }
  @media (min-width: 992px){
    ._container, ._container-sm, ._container-md, ._container-lg {
        max-width: 1160px;
    }
  }
  @media (min-width: 1200px){
    ._container, ._container-sm, ._container-md, ._container-lg, ._container-xl {
        max-width: 1700px;
    }
  }
  ._container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  ._conta{
    max-width:1700px;
    margin:0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
  	font-weight: 100;
  }

  textarea {
  	min-height: 250px;
  }
  .top-0{
    top:0;
  }
  .bottom-0{
    bottom:0;
  }
  .relative{
    position: relative;
  }
  .absolute{
    position:absolute;
  }
  .fullscreen{
    width:100%;
    height:100%;
  }
  .fullwidth{
    width:100%;
  }
  .fullheight{
    height:100%;
  }
  .d-tablecell{
    display: table-cell;
  }
  .v-top{
    vertical-align:top;
  }
  .v-middle{
    vertical-align:middle;
  }
  .v-bottom{
    vertical-align:bottom;
  }
  ._link{cursor:pointer;}
  ._link._1{color:#3a667b;}
  ._link._1:hover{text-decoration:none; color:#0e7b8d;}
  ._fw100{font-weight: 100;}
  ._fw200{font-weight: 200;}
  ._fw300{font-weight: 300;}
  ._fw400{font-weight: 400;}
  ._fw500{font-weight: 500;}
  ._fw600{font-weight: 600;}
  ._fw700{font-weight: 700;}
  ._fw800{font-weight: 800;}
  ._fw900{font-weight: 900;}

  ._bg_filter{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.35));
      border-radius: 20px;
  }
  .m-bottom1{
    margin-bottom:1rem;
  }
  .uppercase{
    text-transform: uppercase;
  }
  ._color_black{
    color:#212529;
  }
  ._list._1{
    list-style: none;
  }
  ._list._1 li{
    padding: 0 10px;
    float: left;
  }
  .trigger{
    position: absolute;
  }
  ._chip._ad{
      background: #ff5858;
      border-radius: 369px;
      padding: 5px 13px;
      margin: 0;
      color:white;
      font-size: 7pt;
  }
  ._ad._1{
    width:100%;
    height:220px;
    border-radius: 20px;
  }
  ._ad._2{
    width:100%;
    height:180px;
    border-radius: 20px;
  }
  ._fs10pt{
    font-size: 10pt;
  }
  ._fs11pt{
    font-size: 11pt;
  }
  ._fs12pt{
    font-size: 12pt;
  }
  ._fs13pt{
    font-size: 13pt;
  }
  .text-ellipsis{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width:100%;
  }

  ._zind13{
    z-index: 13;
  }
  ._h-100vh{
    height: 100vh;
  }
  ._overflow-y{
    overflow-x: hidden;
    overflow-y: auto;
  }
  ._css-1db{
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
  }
  ._css-1db-2{
      -webkit-box-pack: justify;
      justify-content: space-between;
      backface-visibility: hidden;
  }
  .fixed{
    position: fixed;
  }
  .m-0-auto{
    margin: 0 auto;
  }

  ._title._1{
    font-size: 15pt;
    font-weight: 400;
  }
  ._username{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width:100%;
      font-size: 9pt;
  }
  ._avatar._1 {
      max-height: 100px;
      max-width: 100px;
      min-width: 20px;
      width: 100%;
      margin: 0 auto;
      display: block;
      border-radius: 12px;
      border: 0px solid white;
  }
  ._avatar._2 {
      height: 20px;
      width: 20px;
      display: block;
      border-radius: 12px;
      border: 0px solid white;
  }
  ._numb_follows{
    font-size: 15pt;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
/* END GENERAL */

/* FONT-FAMILY */
  ._sofia{
    font-family:'Sofia Pro', 'TT Commons', 'Josefin Sans', sans-serif;
  }
  ._ttcommons{
    font-family:'TT Commons', 'Sofia Pro', 'Josefin Sans', sans-serif;
  }

  ._josefin{
    font-family: 'Josefin Sans', 'TT Commons', 'Sofia Pro',  sans-serif;
  }
/* END FONT-FAMILY */

/* BUTTONS */
  ._btn{
    color: black;
    text-decoration: none;
    border-radius: 3px;
    background:white;
    display: block;
  }
  ._btn:hover{
    text-decoration:none;
  }
  ._btn._login{
    padding: 8px 15px;
    background: #ff5858;
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 369px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-shadow: 0 0 15px -5px #ff5858;
    box-shadow: 0 0 15px -5px #ff5858;
  }
  ._btn._login:hover{
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 3px 21px -5px #ff5858;
    box-shadow: 0 3px 21px -5px #ff5858;
  }
  ._btn._login:focus{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0 0 -6px 9px #ff5858;
    box-shadow: 0 0 -6px 9px #ff5858;
  }
  ._btn._session{
    width: 100%;
    min-width: min-content;
    display: block;
    border: 1px solid;
    padding: 9px 20px;
    text-align: center;
    position: relative;
    margin-bottom:6px;
    font-weight:400;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  ._btn._session:hover{
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  ._btn._session span:first-child{
    float: left;
    width: min-content;
  }
  ._btn._session._google{
    border-color: #3369e8;
    color: #3369e8;
  }
  ._btn._session._facebook{
    border-color: #3b5998;
    color: #3b5998;
  }
  ._btn._session._google:hover{
    border-color: #3369e8;
    color: white;
    background:#3369e8;
  }
  ._btn._session._facebook:hover{
    border-color: #3b5998;
    color: white;
    background: #3b5998;
  }
  ._btn._session._facebook span:last-child{
    margin-left:3px;
  }
  ._btnround {
    border-radius: 369px;
    background: white;
    border: 1px solid #010101;
    text-align:center;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
  }
  ._btnround:hover {
    text-decoration:none;
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px);
  }

  ._btn._1{
      border: 1px solid;
      padding: 12px 16px;
      line-height: 1;
      text-align: center;
      font-weight: 600;
      white-space: nowrap;
      font-size: 12pt;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
  }
  ._btn._1:hover{
      border-color: black;
      color:black;
      -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px black, 0 0 0 4px rgba(255,255,255,0.5);
      box-shadow: 0 0 0 2px #fff, 0 0 0 3px black, 0 0 0 4px rgba(255,255,255,0.5);
  }
  ._btn._1:focus{
    color:#ff5858;
    border-color: #ff5858;
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ff5858, 0 0 0 4px rgba(255,255,255,0.5);
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ff5858, 0 0 0 4px rgba(255,255,255,0.5);
  }
  ._btn._1 .material-icons{
    font-size: 12pt;
      line-height: .9;
      vertical-align: bottom;
  }
  ._btn._2{
      border: 1px solid transparent;
      padding: 10px;
      background: #ffffff;
      color: grey;
      border-radius: 369px;
      font-size: 15pt;
      width:40px;
      height:40px;
      line-height: 0.9;
  }
  ._btn._2:hover{
      background: #ffffff;
      color: #ff5858;
  }
  ._btn._2:before {
    content: '';
    width: 38px;
    height: 38px;
    max-height: 38px;
    background: transparent;
    position: absolute;
    border:1px solid rgba(1, 1, 1, 0.11);
    border-radius: 300px;
      top: -13px;
      left: -7px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  ._btn._2:hover:before {
    border:1px solid #ff5858;
    border-color:#ff5858;
    transform: scale(1);
  }
  ._btnmenu{
    display: block;
    height: 18px;
    width: 35px;
    position: relative;
    top:-2px;
  }
  ._btnmenu:before {
    content: '';
    width: 38px;
    height: 38px;
    max-height: 38px;
    background: transparent;
    position: absolute;
    border:1px solid rgba(1, 1, 1, 0.11);
    border-radius: 300px;
    top: -10px;
    left: -2px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  ._btn_icon{
    position: relative;
    color:black;
  }
  ._btn_icon:focus{
    color:#ff5858;
  }
  ._btn_icon:before {
    content: '';
    width: 38px;
    height: 38px;
    max-height: 38px;
    background: transparent;
    position: absolute;
    border:1px solid rgba(1, 1, 1, 0.11);
    border-radius: 300px;
      top: -13px;
      left: -7px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  ._btn_icon:hover{
    color:black;
  }
  ._btnmenu:hover:before,
  ._btn_icon:hover:before {
    transform: scale(1);
  }
/* END BUTTON */

/* FORMS */
  .form-control:focus {
    color: #032535 !important;
    border-color: #032535 !important;
    box-shadow: 0 0 0 0.2rem rgba(148, 148, 148, 0.15) !important;
  }
  ._input._1 {
    border: 0;
    border-bottom: 1px solid #010101;
    border-radius: 0 !important;
    padding: 3px;
    font-size: 11pt;
    font-weight: 600;
  }
  ._input._1::placeholder { 
    color: #032535;
    opacity: .95; 
    font-weight: 400;
  }
  ._input._1:focus {
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
  }
  ._input._1:focus::placeholder {
    opacity: 1;
  }
/* END FORMS */

/* CHECKBOX */
  .pure-material-checkbox {
      z-index: 0;
      position: relative;
      display: inline-block;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 16px;
      line-height: 1.5;
  }

  /* Input */
  .pure-material-checkbox > input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      z-index: -1;
      position: absolute;
      left: -10px;
      top: -8px;
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      box-shadow: none;
      outline: none;
      opacity: 0;
      transform: scale(1);
      pointer-events: none;
      transition: opacity 0.3s, transform 0.2s;
  }

  /* Span */
  .pure-material-checkbox > span {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      line-height:1.9;
  }

  /* Box */
  .pure-material-checkbox > span::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      margin: 3px 11px 3px 1px;
      border: solid 1px; /* Safari */
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      border-radius: 2px;
      width: 18px;
      height: 18px;
      vertical-align: top;
      transition: border-color 0.2s, background-color 0.2s;
  }

  /* Checkmark */
  .pure-material-checkbox > span::after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 2px;
      width: 10px;
      height: 5px;
      border: solid 2px transparent;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg);
  }

  /* Checked, Indeterminate */
  .pure-material-checkbox > input:checked,
  .pure-material-checkbox > input:indeterminate {
      background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }

  .pure-material-checkbox > input:checked + span::before,
  .pure-material-checkbox > input:indeterminate + span::before {
      border-color: #ff5858;
      background-color: #ff5858;
  }

  .pure-material-checkbox > input:checked + span::after,
  .pure-material-checkbox > input:indeterminate + span::after {
      border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  }

  .pure-material-checkbox > input:indeterminate + span::after {
      border-left: none;
      transform: translate(4px, 3px);
  }

  /* Hover, Focus */
  .pure-material-checkbox:hover > input {
      opacity: 0.04;
  }

  .pure-material-checkbox > input:focus {
      opacity: 0.12;
  }

  .pure-material-checkbox:hover > input:focus {
      opacity: 0.16;
  }

  /* Active */
  .pure-material-checkbox > input:active {
      opacity: 1;
      transform: scale(0);
      transition: transform 0s, opacity 0s;
  }

  .pure-material-checkbox > input:active + span::before {
      border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }

  .pure-material-checkbox > input:checked:active + span::before {
      border-color: transparent;
      background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  }

  /* Disabled */
  .pure-material-checkbox > input:disabled {
      opacity: 0;
  }

  .pure-material-checkbox > input:disabled + span {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      cursor: initial;
  }

  .pure-material-checkbox > input:disabled + span::before {
      border-color: currentColor;
  }

  .pure-material-checkbox > input:checked:disabled + span::before,
  .pure-material-checkbox > input:indeterminate:disabled + span::before {
      border-color: transparent;
      background-color: currentColor;
  }
/* END CHECKBOX */

/* SESSIONS */
  ._cont._session{
    min-height:800px;
    width: 100vw;
    height:100vh;
  }
  .row._session{
    max-width: 390px;
    margin: 0 auto;
    padding: 100px 0;
  }
  .row._session ._text._1{
    margin-bottom: 36px;
  }
  .row._session .or {
    text-align: center;
    margin: 11px 0;
    position: relative;
    opacity: 0.32;
  }
  .row._session .or span{
    text-transform: uppercase;
    font-weight: 500;
    background:white;
    position: relative;
    padding: 0 5px;
  }
  .row._session .or:before{
    content: '';
    width:100%;
    height: 1px;
    background: gray;
    display: block;
    position: absolute;
    top: 14px; 
  }
/* END SESSIONS */

/* LOGOS */
  ._logo._1{
    width:140px;
    height:auto;
  }
/* END LOGOS */

/* CARDS */
  ._card{
      width: 300px;
      margin: 6px;
      min-height: 77px;
      border-radius: 20px;
      position: relative;
  }
  ._card .card-img,
  ._card .card-img-top{ 
      border-radius: 9px;
      filter: brightness(0.8);
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      object-fit: cover;
  }
  ._card:hover .card-img,
  ._card:hover .card-img-top{ 
      filter: brightness(1);
  }
  ._card ._cardtitle{
    font-size: 13pt;
    line-height: 1.5;
    font-weight: 600;
    margin: 0;
    text-decoration: none !important;
  }
  ._card ._carddescription{
    line-height: 1.5;
    font-size: 11pt;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
  ._card .card-img{
    width: 100%;
    height: auto;
  }
  ._card ._cardbody{
      position: absolute;
      background: rgba(0, 0, 0, 0.29);
      border-radius: 0 0 9px 9px;
      bottom: 0;
      display: block;
      width: 100%;
      padding: 15px;
      margin: 0;
  }
  ._card ._cardbody,
  ._card ._cardbody a{
    color:white !important;
    text-decoration: none !important;
  }
  ._card ._cardbody b{
      width: 100%;
      display: block;
      margin: 0;
  }
/* END CARDS */

/* NAVBAR */
  ._navbar{
      flex-direction: inherit !important;
  }
  ._nav._1{
    background: white;
    position: fixed;
    z-index: 13;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  ._nav._1._shadow{
    transform:translateY(-1px);
    -webkit-box-shadow: 0 6px 12px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 12px -8px rgba(0, 0, 0, 0.2);
  }
  ._navbar_br{
    margin-top:70px;
  }
  @media(max-width: 767px){
    ._logonav{
      width:100px;
    }
  }
  ._avatar_navbar{
    border-radius: 13px;
    border:1px solid white;
    min-width: 20px;
    max-width: 35px;
    margin: 0 auto;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  ._avatar_navbar:hover,
  ._avatar_navbar:active,
  ._avatar_navbar:focus{
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 3px 10px -3px rgba(128, 128, 128, 0.54);
    box-shadow: 0 3px 10px -3px rgba(128, 128, 128, 0.54);
  }
  .dropdown-toggle::after{
    display: none !important;
  }
  .navbar-nav._navbar .dropdown-menu{
    position: fixed !important;
    float: right !important;
    right: 10px !important;
    top: 65px !important;
    width: max-content !important;
    left: auto !important;
    border-color:transparent;
    padding: 0;
    border-radius: 9px;
    -webkit-box-shadow: 0 7px 12px -12px #7a7a7a;
    box-shadow: 0 7px 12px -12px #7a7a7a;
  }
  .navbar-nav._navbar .dropdown-menu .nav-link{
    text-align: right;
    color:black;
    text-decoration: none !important;
    font-weight: 400;
    padding: 9px;
  }
  .navbar-nav._navbar .dropdown-menu .nav-link:first-child{
    border-radius: 9px 9px 0 0;
  }
  .navbar-nav._navbar .dropdown-menu .nav-link:last-child{
    border-radius: 0 0 9px 9px;
  }
  .navbar-nav._navbar .dropdown-menu .nav-link:hover{
    font-weight: 600;
    background: #f4f7f8;
  }
  ._navbar .nav-item{
      padding: 0 5px;
  }
  ._iconav {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform 2s cubic-bezier(.23,1,.32,1);
    transition: transform 2s cubic-bezier(.23,1,.32,1);
  }
  ._iconav span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #010101;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
  }
  ._iconav span:nth-child(1) {
      top: 3px;
  }
  ._iconav span:nth-child(2) {
      top: 8px;
  }
  ._iconav span:nth-child(3) {
      top: 13px;
  }
  ._iconav.open span{
    background: #ff5858 ;
  }
  ._iconav.open span:nth-child(1) {
      top: 8px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(-135deg);
  }
  ._iconav.open span:nth-child(2) {
      opacity: 0;
      left: 12px;
      width: 80%;
  }
  ._iconav.open span:nth-child(3) {
      top: 8px;
      width: 100%;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(135deg);
  }
  ._searchfield{
      border: 0;
      padding: 15px;
      border-radius: 3px;
      width: 100%;
      outline: none !important;
      font-weight: 500;
      font-size: 12.7pt;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
  }
  ._searchfield:active,
  ._searchfield:hover,
  ._searchfield:focus{
    /*transform: translateY(-2px);
      -webkit-box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.45);
      box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.45);*/
      outline: none !important;
  }
  ._listmenu{
      list-style: none;
      display: block;
      width: max-content;
      float: right;
  }
  ._listmenu li a{
      color: black;
      text-align: right;
  }
  ._listmenu li a:hover{
      color: black;
      text-decoration: none;
      font-weight: 600;
  }
/* END NAVBAR */

/* SIDENAV */   
  ._listsidenav {
    padding: 15px;
      list-style: none;
  }
  ._listsidenav li{
    position: relative;
  }
  ._listsidenav li a{
    color:#032535;
    text-decoration: none;

  }
  ._listsidenav li a:hover,
  ._listsidenav li.active a{
    font-weight: 700;
  }
  ._listsidenav li a::before{
    content: '';
    width:5px;
    height: 5px;
    border-radius: 369px;
    background: #032535;
      right: 0;
      top:10px;
      position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  ._listsidenav li.active a::before{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  ._listsidenav li a:hover::before{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  ._listsidenav._t_one li a{
    color:white;
  }
  ._listsidenav._t_dark li a{
    color:white;
  }
  ._dataccunt{
    padding:15px;
    border-radius: 9px;
  }
  ._dataccunt p,
  ._dataccunt sup{
    color:#032535;
  }
/* END SIDENAV */

/* STEPS */
  .msf_hide{
    display: none;
  }
  .msf_show{
    display: block;
  }
  .msf_bullet_o{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .msf_bullet_o > div{
    height: 15px;
    width: 15px;
    margin: 20px 10px;
    border-radius: 100px;
    z-index: 2;
  }
  .msf_bullet{
    background-color: lightgrey;
    
  }
  .msf_bullet_active{
    background-color: darkgrey !important;
  }
/* END STEPS */

/* MOCKS */
  ._cont_mock._1{
    background:rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    padding: 5px 10px; 
  }

  ._cont_mock._1 p{
    line-height: 1.5;
    font-size: 9pt;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
/* END MOCKS */

/* RESPONSIVE */

  /* MAX WIDTH */
    @media(max-width: 880px){
      ._card{
        width:200px;
      }
    }
    @media(max-width: 576px){
      ._list._1 li{
        padding: 0 5px;
        float: left;
      }
    }
  /* END MAX WIDTH */
  /* MAX HEIGHT */
    @media(max-height:600px ){
      #_row_sidenav2{
          position: initial !important;
          height: 15vh !important;
          width: 200px !important;
          min-height:250px;
      }
      #_sidenav {
          position: inherit !important;
      }
    }
  /* END MAX HEIGHT */
/* END RESPONSIVE */

/* #IDS */
  #mocks{
      margin:0 auto;
      margin-top:20px;
      width: 100%;
  }
  #on_content{
    background: #f4f7f8;
    height: 100%;
  }
  #trigger1{
    top:51vh;
  }
  #_big_row_index{
    background:#ffffff;
    max-width: 1700px;
    margin: 0 auto;
  }
  #_row_follows_board{
    margin-bottom: 15px;
  }
  #_sidenav{
    min-height: 100vh;
  }
  #_row_sidenav1{
      height: 90vh;
      min-height: 250px;
      margin-top: 65px;
  }
  #_row_sidenav2{ 
      position: absolute;
      bottom: 40px;
  }
  #_ad_1{
    background: url(https://mockering.s3-sa-east-1.amazonaws.com/assets/ashwin-vaswani-JqZ7q_S3xOE-unsplash.jpg);
    background-size: cover;
  }
  #_ad_2{
    background: url(https://mockering.s3-sa-east-1.amazonaws.com/assets/austin-neill-403340-unsplash.jpg);
    background-size: cover;
  }
  #_ad_3{
    background: url(https://mockering.s3-sa-east-1.amazonaws.com/assets/austin-distel-599272-unsplash.jpg);
    background-size: cover;
  }
/* END #IDS */