<% content_for :title, "Suggestions • Mockering" %>
<div class="container">
	<br>
	<div class="jumbotron text-center">
		<h3 class="_fw600">Thank you for your suggestions.</h3>
		<p>We work to provide an information service without censorship or banning for controversial issues.</p>
	</div>
</div>