<% content_for :title, ": Copyrights" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">What measures does YouTube take against copyright infringement?</h2>
			<br>
			<p>If the copyright owner submits a valid through our web form, we will delete the video and issue a copyright warning. If users receive three copyright warnings within 90 days, their account will be terminated.</p>
			<br>
			<br>
		</div>
	</div>
</div>