<% content_for :title, ": Copyrights" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">The principal rule of copyright</h2>
			<br>
			<p>Fair use is a law in the United States that allows copyrighted material to be reused in certain circumstances without the permission of the copyright owner. However, "fair use" depends on specific circumstances, and different countries have different rules on when materials can be used without the permission of the copyright owner. In the United States, works of commentary, criticism, research, teaching, or news reporting may be considered fair use, but it depends on the circumstances.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>