<% content_for :title, "Copyrights • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">The principal rule of copyright</h2>
			<br>
			<p>Creators should only upload videos that they have made or have rights to use. This means that they should not upload unproduced videos, nor can they use content from other copyrighted videos without necessary authorization, such as music tracks, copyrighted program fragments, or videos made by other users.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>