<% content_for :title, ": Copyrights" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">How can rights holders make copyright claims?</h2>
			<br>
			<p>The easiest way to remove unauthorized copies of copyrighted content is to manually submit a copyright notice through our <%= link_to 'web form', new_copyrightcontact_path %> . This tool is best for most users-it is open to everyone.</p>
			<br>
			<%= link_to 'Copyrights Complaint', new_copyrightcontact_path, class: 'btn _btn _1' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>