<div class="jumbotron _bgwhite">
	<br>
	<p><%= link_to root_path do %><i class="bi bi-chevron-left"></i> Back<% end %></p>
	<br>
	<br>
	<b>Policies and Safety</b>
	<h1 class="_fw600">Community Guidelines</h1>
	<br>
</div>
<style type="text/css">
  ._navfooter{
    display: none !important;
  }
</style>