<ul class="listsidenav">
	<li class="<%= 'active' if current_page?(howmockeringworks_path) %>"><%= link_to 'Guidelines', howmockeringworks_path %></li>
	<li class="<%= 'active' if current_page?(infringements_howmockeringworks_path) %>"><%= link_to 'Infringements', infringements_howmockeringworks_path %></li>
</ul>
<style type="text/css">
</style>