<% content_for :title, ": Age restricted Policy" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Age restricted content</h2>
			<br>
			<p>If you believe that your content does not violate the Community Guidelines and has been warned or deleted in error, you can follow the steps below to file an appeal.</p>
			<br>
			<h3 class="_fw600">Appeal a strike</h3>
			<p>Sometimes the content does not violate our policies, but it may not be suitable for all audiences. In this case, after we receive the content notification, our review team will set an age restriction on the video or delete the thumbnail.</p>
			<p>Age-restricted videos are not visible to users who log out, are under 18 or have restricted mode enabled.</p>
			<br>
			<h3 class="_fw600">What causes age restriction</h3>
			<p>Here are some things we consider age restrictions:</p>
			<ul>
				<li>Vulgar language</li>
				<li>Violent and disturbing images</li>
				<li>Nudity and sexually suggestive content </li>
				<li>Portray harmful or dangerous activities</li>
			</ul>
			<br>
			<h3 class="_fw600">Check if your content has age restrictions</h3>
			<p>If your content is age-restricted, you’ll see “Age restriction” in the post of your profile page. </p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>