<% content_for :title, "Appeal actions • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Appeal actions</h2>
			<br>
			<p>If you believe that your content does not violate the Community Guidelines and has been warned or deleted in error, you can follow the steps below to file an appeal.</p>
			<br>
			<h3 class="_fw600">Appeal a strike</h3>
			<p>When we remove your content for violating our community guidelines, we may warn you. When a member of the Mockering community marks content on Mockering for review, a warning is issued, and our review team believes that the content does not meet our community guidelines. If your account is on strike, you will receive an email the next time you log in to Mockering, a notification on your phone and desktop, and a reminder in your account settings.</p>
			<p>Before you begin, please review the policies related to strikes. We will also list examples of content that caused the Community Guidelines warning. After the warning or warning is issued, you can only appeal for 30 days.</p>
			<br>
			<b>Appeal a strike</b>
			<ol>
				<li>Go to your profile in Mockering.</li>
				<li>Select 'Infrigements'.</li>
				<li>Select <b>APPEAL</b></li>
			</ol>
			<p>Note: Deleting the video will not resolve the warning. If you delete the video, the warning will remain on your channel and you will not be able to appeal again.</p>
			<br>
			<h3 class="_fw600">After filing an appeal</h3>
			<p>You will receive an email from Mockering informing you of the outcome of your appeal request. One of the following will happen:</p>
			<ul>
				<li>If we find that your content complies with our Community Guidelines, we will restore it and remove the strike from your channel. If you appeal the warning and get an appeal, the next violation will be the warning.</li>
				<li>If we find that your content complies with our community guidelines but is not suitable for all audiences, we will restrict its age. If it is a video, the video is not visible to users who have logged out, are under 18 years of age, or have enabled restricted mode. If it is a custom thumbnail, delete it.</li>
				<li>If we find that your content violates our Community Guidelines, the warning will continue to exist and the video will remain off the site. There is no additional penalty for rejected appeals.</li>
			</ul>
			<p>You may appeal each strike only once.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>