<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Criminal organizations</h2>
			<p>It is prohibited to use content designed to praise, promote or help violent criminal organizations on Mockering. These organizations are prohibited from using Mockering for any purpose, including recruitment.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<p>If you believe that anyone is in immediate danger, you should contact your local law enforcement agency to report the situation immediately.</p>
			<br>
			<h3 class="_fw600">What these policies mean for you</h3>
			<p>If the content meets any of the instructions below, please do not post on Mockering.</p>
			<ul>
				<li>Violent crime or content produced by terrorist organizations</li>
				<li>Content that praises or commemorates outstanding terrorists or criminals to encourage others to commit violent acts</li>
				<li>Content that praises or justifies violent crimes or violent acts of terrorist organizations</li>
				<li>Content designed to recruit new members from violent crime or terrorist organizations</li>
				<li>Content describing hostages or content intended to represent violent crimes or terrorist organizations inciting, threatening or intimidating</li>
				<li>Content depicting badges, logos or logos of violent crimes or terrorist organizations to praise or promote them</li>
			</ul>
			<p>If you publish content related to terrorism or crime for educational, documentary, scientific or artistic purposes, please pay attention to provide enough information in the video or audio itself so that the audience can understand the context. Graphics or controversial material with sufficient context may be subject to age restrictions or warning screens.</p>
			<p>This policy applies to videos, video descriptions, comments, live streaming and any other YouTube products or features. Please note that this is not a complete list.</p>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Below are some examples of content not allowed on YouTube.</p>
			<ul>
				<li>Raw and unmodified reuploads of content created by terrorist or criminal organizations</li>
				<li>Celebrating terrorist leaders or their crimes in songs or memorials</li>
				<li>Celebrating terrorist or criminal organizations in songs or memorials</li>
				<li>Content directing users to sites that espouse terrorist ideology, are used to disseminate prohibited content, or are used for recruitment</li>
				<li>Video game content which has been developed or modified (“modded”) to glorify a violent event, its perpetrators, or support violent criminal or terrorist organizations</li>
				<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			</ul>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>