<% content_for :title, ": Dangerous content policy" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Dangerous content</h2>
			<p>Mockering prohibits the posting of content that incites dangerous or illegal activities that threaten personal injury or death.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<br>
			<h3 class="_fw600">What these policies mean for you</h3>
			<p>If the content meets any of the instructions below, please do not post on Mockering.</p>
			<ul>
				<li>Extremely dangerous challenge: a challenge that is about to cause personal injury.</li>
				<li>Dangerous or threatening hoaxes: hoaxes can cause victims to worry about the imminent serious personal danger, or cause serious emotional distress among minors.</li>
				<li>Killing or hurting instructions: Show the audience how to perform activities designed to kill others. For example, the intent of giving orders to make bombs is to hurt or kill others.</li>
				<li>Use or manufacture of hard drugs: Describe the abuse or instructions on how to manufacture hard drugs such as cocaine or opioids. Hard drugs are defined as drugs that can (mostly) cause addiction to the body.</li>
				<li>Eating disorders: Compliment, beautify or encourage viewers to imitate anorexia or other eating disorders. Eating disorders are characterized by abnormal or disturbed eating habits, which can have a negative impact on human health (including consumption of non-food products).</li>
				<li>Violent incidents: Encourage or glorify violent tragedies, such as school shootings.</li>
				<li>Guided theft or cheating: show viewers how to steal tangible goods or promote dishonesty</li>
				<li>Hacking: Demonstrate how to use computers or information technology to steal credentials, destroy personal data or cause serious harm to others, such as (but not limited to) hackers hacking into social media accounts</li>
				<li>Bypass payment for digital content or services: Show viewers how to use apps, websites, or other information technology to gain unauthorized free access to audio content, audiovisual content, complete video games, software, or streaming services that usually require payment.</li>
				<li>Promote dangerous remedies or treatments: Content claiming that harmful substances or treatments may be beneficial to health.</li>
			</ul>
			<p>Remember, this is not a complete list.</p>
			<p>Do not post content that indicates that minors participate in hazardous activities or encourages minors to participate in hazardous activities. Do not place minors in hazardous environments that may cause harm, including dangerous stunts, adventures, or pranks. You can learn more about child safety here.</p>

			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseAgeRestricted" role="button" aria-expanded="false" aria-controls="collapseAgeRestricted">Age-restricted content</a>
			<div class="collapse" id="collapseAgeRestricted">
			  <div class="card-body">
			    <p>When deciding to restrict age or remove content, we may consider the following factors. Remember, this is not a complete list.</p>
			    <ul>
			    	<li>Whether the behavior may cause serious injury or death</li>
			    	<li>Whether the individuals involved in the behavior are trained professionals to take preventive measures to prevent injuries.</li>
			    	<li>Can minors easily imitate behavior</li>
			    	<li>Whether the content can be used to commit serious violence</li>
			    	<li>The uploaded content is essentially educational, documentary, scientific or artistic work</li>
			    	<li>Are there any comments blocking the behavior</li>
			    	<li>Can the audience distinguish between true and false</li>
			    	<li>Whether the content promotes products containing drugs, nicotine or controlled substances</li>
			    </ul>
			    <b>Examples of age restricted content</b>
			    <ul>
			    	<li>Videos about false and harmful hoaxes look so real that viewers can’t tell</li>
			    	<li>Video of reaction to dangerous challenge, no comment to stop the challenge</li>
			    	<li>Videos promoting cannabis dispensaries</li>
			    	<li>Watch the video of the nicotine e-liquid brand</li>
			    	<li>Provide guidance or promote cheating videos</li>
			    </ul>
			    <p>If it may be for educational, documentary, scientific or artistic (EDSA) purposes, we may allow videos describing dangerous behavior to be played. For example, news reports on the dangers of choking games are appropriate, but publishing clips from the context of the same documentary may not be appropriate.</p>
			    <p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features.</p>
			  </div>
			</div>
			<br>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Below are some examples of content not allowed on Mockering.</p>

			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseDangerous" role="button" aria-expanded="false" aria-controls="collapseDangerous">Extremely dangerous challenges</a>
			<div class="collapse" id="collapseDangerous">
			  <div class="card-body">
			  	<p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
						<li>Asphyxiation: Any activity that prevents breathing or can lead to suffocation like:</li>
						<ul>
							<li>Choking, drowning, or hanging games</li>
							<li>Eating non-food items</li>
						</ul>
						<li>Weapons abuse: the use of guns or weapons without proper safety precautions or in a way that may cause personal injury. Including the "No Lackin'" challenge.</li>
						<li>Ingestion of harmful substances: eating, eating or inserting non-food or chemical substances that may cause disease or poisoning. Including the challenge of eating detergent.</li>
						<li>Burning, freezing and electrocution: There is an inherent risk of severe burns, freezing, frostbite or electrocution. Including fire challenge and hot water challenge.</li>
						<li>Mutilation & Blunt Force Trauma: Activities like:</li>
						<ul>
							<li>Self-mutilation</li>
							<li>Abstaining from normal health practices</li>
							<li>Falling, impalement, collision, blunt force trauma, or crushing</li>
						</ul>
						<li>Challenges faced by children: Show minors drinking, using vaporizers, e-cigarettes, tobacco or marijuana, or abuse of fireworks.</li>
						<p>Note: We may limit the age at which content of this type of content can be explained in an educational or documentary way. For example, a documentary about self-harm may be allowed, but not all viewers can use it.</p>
					</ul>
			  </div>
			</div>
			
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapsePranks" role="button" aria-expanded="false" aria-controls="collapsePranks">Dangerous or threatening pranks </a>
			<div class="collapse" id="collapsePranks">
			  <div class="card-body">
			  	<p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
						<li>Intentional personal injury: Injury to unsuspecting victims of pranks by slamming, adding laxatives to food or drink, or pranking.</li>
						<ul>
							<li>Threats with weapons</li>
							<li>Bomb scares</li>
							<li>Swatting or fake 911 calls</li>
							<li>Fake home invasions or robberies</li>
							<li>Fake kidnapping</li>
						</ul>
						<li>Emotional distress to minors: any hoax that causes emotional distress to children or disadvantaged groups. This includes:</li>
						<ul>
							<li>Fake death or suicide</li>
							<li>Fake violence</li>
							<li>Pretending that a parent or caregiver will abandon a child</li>
							<li>Showing a parent or caregiver verbally abuse or shame a child</li>
						</ul>
						<p>Note: We may limit the age at which content of this type of content can be explained in an educational or documentary way. For example, a documentary about self-harm may be allowed, but not all viewers can use it.</p>
					</ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseViolent" role="button" aria-expanded="false" aria-controls="collapseViolent">Violent events or instructions to harm  </a>
			<div class="collapse" id="collapseViolent">
			  <div class="card-body">
			  	<p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
						<li>Bomb making: Show the audience how to make bombs to hurt or kill others, for example:</li>
						<ul>
							<li>Pipe bombs</li>
							<li>Package bombs</li>
							<li>Explosive vests</li>
							<li>Molotov cocktails</li>
						</ul>
						<li>Violence involving children: any real fighting or violence between children.</li>
						<p>Note: For documentary or educational content, we may restrict this age. For example, it is possible to allow the provision of medical, academic, historical, philosophical, or news opinions in response to violence. However, not all audiences can use it.</p>
					</ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseDrugs" role="button" aria-expanded="false" aria-controls="collapseDrugs">Drug use</a>
			<div class="collapse" id="collapseDrugs">
			  <div class="card-body">
			  	<p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
						<li>Show drug use: non-educational content, showing intravenous drugs such as heroin injection or swallowing/sniffer gel.</li>
						<li>Making drugs: Non-educational content that explains how to make drugs.</li>
						<li>Use of alcohol or drugs by minors: Show minors to drink, use vaporizers, electronic cigarettes, tobacco or marijuana, or abuse fireworks.</li>
						<li>Sell ​​hard or soft drugs: drugs that are targeted for sale. If you use the link in the description to sell potent drugs, your account will be terminated.</li>
						<li>Steroid use: non-educational content that shows how to use steroids for recreational purposes (such as fitness).</li>
						<p>Note: If this type of content is educational, documentary, scientific or artistic work, we may still restrict its age. For example, a documentary about intravenous drug use may allow the content of injecting drugs to be displayed, but not all viewers can use it. If your content shows items used for drug use, it may also have age restrictions.</p>
					</ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseHarmful" role="button" aria-expanded="false" aria-controls="collapseHarmful">Harmful remedies</a>
			<div class="collapse" id="collapseHarmful">
			  <div class="card-body">
			  	<p>It is prohibited to promote or support the use of hazardous substances or treatments. The following is a list of some examples. This is not a complete list.</p>
			    <ul>
						<li>Miracle Mineral Solution (MMS)</li>
						<li>Black ointment</li>
					</ul>
			  </div>
			</div>
			<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, do not post the content.</p>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>