<div class="container p-t-15px">
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Defamation</h2>
			<p>Defamation laws vary from country to country, but usually involve content that damages the reputation of others or the company. Although the definition of defamation varies around the world, in general, defamation is any untrue statement that will damage someone’s reputation or cause someone to be avoided or avoided.</p>
			<p>In the process of blocking defamation, we will consider local legal factors. In some cases, we need the court to issue an order. In order for us to process the defamation prevention request, the statement needs to be specific and strongly supported. For example, it needs to explain why you believe these statements are untrue and how it damages your reputation.</p>
			<p>In some cases, uploaders will voluntarily delete harmful content. Since obtaining court orders can be expensive and time-consuming, we recommend that users contact the uploader of the relevant content directly.</p>
			<p>If you can’t find the uploader, please consider whether the video meets the removal criteria under our privacy or harassment policy.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>