<% content_for :title, ": Detecting Infringements" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">How does Mockering identify content that violates our Community Guidelines? </h2>
			<br>
			<p>We seek that our platform is able to promote the critical sense of people and without censorship of controversial content, for that reason we use a combination of algorithms that allow our community of users, editors and contributors to detect all that content that is not appropriate and report it to be reviewed by a specialized agent.</p>
			<p>Content creators have the right to appeal for a second content posting if they believe it was not a good decision to remove their content.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>