<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	        	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	        <% end %>
	        <br>
	        <br>
			<h2 class="_fw600">Fake Engagement</h2>
			<p>Mockering does not allow for anything that artificially increases the number of views, likes, comments, or other metrics, either by using automated systems or by showing videos to unsuspecting viewers. Also, content that exists solely to encourage viewer participation (views, likes, comments, etc.) is prohibited.</p>
			<p>Content and accounts that do not follow this policy can be canceled and removed from Mockering.</p>
			<p>Important note: If you hire someone to promote your account, then their decision may affect your account. Any method that violates our policies may result in content removal or account removal, regardless of whether this is an action taken by you or someone you hired.</p>
			<p>When the main intention of the human user is to interact with the content without being forced or deceived, or when the only purpose of the interaction is for economic benefit, we consider the interaction to be legal.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<br>
			<h3 class="_fw600">What this policy means for you</h3>
			<p>If it meets any of the instructions below, please do not post content on Mockering.</p>
			<ul>
				<li>Link to or promote third-party services that artificially increase metrics such as views, likes, and followers</li>
				<li>Content that links to or promotes third-party views or subscriber gaming websites or services</li>
				<li>Purchasing the content of their opinions from third parties for the purpose of the creator</li>
			</ul>
			<p>This policy applies to videos, video descriptions, messages, comments, and any other Mockering products or features. Remember, this is not a complete list.</p>
			<br>
			<h3 class="_fw600">Examples</h3>
			<ul>
				<li>A video proof that the creator showed that he successfully purchased artificial page traffic from a third party</li>
				<li>The creator links to videos of third-party manual page traffic providers in the context of promotion or support. For example: "In one day, I got 1 million subscribers through this video, so can you!"</li>
				<li>Attempts to force or trick viewers to watch other videos through deceptive means (for example: misleading information cards)</li>
				<li>Accounts dedicated to manual account interaction traffic or to promote business that exists only for this purpose</li>
			</ul>
			<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, do not post the content.</p>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>