<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Featuring firearms</h2>
			<p>Mockering prohibits the posting of content aimed at selling guns, instructing viewers on how to make guns, ammunition, and certain accessories, or instructing viewers on how to install these accessories. Mockering should not be used as a platform to sell guns or accessories described below. Mockering also does not allow live content to show that someone is armed, armed or transported.</p>
			<br>
			<h3 class="_fw600">What this means for you</h3>
			<p>If the purpose is to perform one or more of the following actions, please do not post on Mockering:</p>
			<ul>
				<li>Sell firearms or certain firearms accessories through direct sales (e.g. private sales by individuals) or links to sites that sell these items. These accessories may include:</li>
				<ul>
					<li>Attachments that enable guns to simulate automatic firing,</li>
					<li>Accessories that convert firearms into automatic firepower, such as assault rifles, Gatling guns, plug-in automatic stoves or retrofit kits,</li>
					<li>The large-capacity magazine or belt can carry more than 30 bullets.</li>
				</ul>
				<li>Provide instructions for manufacturing any of the following products:</li>
				<ul>
					<li>firearms,</li>
					<li>ammunition,</li>
					<li>Large volume magazines,</li>
					<li>Self-made silencer/suppressor,</li>
					<li>Attachments that enable guns to simulate automatic firing,</li>
					<li>Accessories that convert firearms into automatic firepower, such as assault stocks, Gatling guns, plug-in automatic stoves or conversion kits</li>
				</ul>
				<li>Provide instructions on how to convert the gun to automatic or simulated automatic shooting.</li>
				<li>Provide instructions on how to install the above accessories or modifications.</li>
				<p>Please note this is not a complete list.</p>
			</ul>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Below are some examples of content not allowed on Mockering.</p>
			<ul>
				<li>The link in the video title or description points to a website that sells the aforementioned guns or accessories. You can link to sites that discuss or comment on these items, as long as these sites do not directly sell these items.</li>
				<li>A firearm showing the intention to sell the firearm privately. This includes providing the seller's phone number, email address or other contact information.</li>
				<li>Show the user step-by-step instructions on how to finish the lower receiver to complete the gun manufacturing.</li>
				<li>Show users how to make a silencer with a flashlight, oil tank, solvent trap or other parts.</li>
				<li>Show users how to install an assault rifle, or how to install similar accessories to simulate automatic shooting.</li>
				<li>During the live broadcast, someone was holding or holding a gun, regardless of whether they were shooting. Note: Guns are not included in the video game.</li>
				<li>Real-time streaming is characterized by someone transporting guns around, such as carrying guns or taking them with them in a car, truck or other vehicle. Note: Guns are not included in the video game.</li>
				<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			</ul>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>