<% content_for :title, "Policy on forgery • Mockering" %>
<div class="container p-t-15px">
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Forgery</h2>
			<p>Mockering prohibits the sale or promotion of counterfeit products in its platforms. The trademark or logo contained in the counterfeit goods is the same or basically the same as another trademark. They imitated the brand characteristics of the product and tried to impersonate it as the authenticity of the brand owner.</p>
			<p>Accounts for promoting or selling counterfeit goods may be terminated.</p>
			<p>If you believe that a video or account is selling or promoting counterfeit goods, you can file a counterfeit complaint through our online form.</p>
			<%= link_to 'Forgery complaint', new_forgerycontact_path, class: "btn btn-info" %>
			<br>
			<br>
			<p>We must receive your complaint in this format for investigation. Our team will investigate your complaint and delete the content if it violates Mockering’s impersonation policy.</p>
			<p>Please remember that abuse of our legal form may result in the termination of your Mockering account.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>