<% content_for :title, "Policy on harassment and cyberbullying • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Harassment and cyberbullying</h2>
			<p>Content that threatens individuals on Mockering is prohibited. We also don’t allow content based on intrinsic attributes (including protected group status or physical characteristics) that target individuals for long-term or malicious insults.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account. For tips and best practices for ensuring safety, ensuring account security, and protecting privacy, please refer to this help center article.</p>
			<p>If you pose a specific threat and you feel unsafe, please report it directly to your local law enforcement agency.</p>
			<br>
			<h3 class="_fw600">What these policies mean for you</h3>
			<p>If the content meets any of the instructions below, please do not post on Mockering.</p>
			<ul>
				<li>Based on its inherent properties, content with long-term name calls or malicious insults (such as racial insults).</li>
				<li>These attributes include their protected group status, physical attributes or status as a survivor of sexual assault, domestic abuse, and child abuse.</li>
				<li>The purpose of uploading content is to humiliate, deceive or insult minors. A minor refers to a person under the legal age of majority. This usually means anyone under the age of 18, but the age of the minor may vary from country to country.</li>
			</ul>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseOther" role="button" aria-expanded="false" aria-controls="collapseOther">Other types of content that violate this policy</a>
			<div class="collapse" id="collapseOther">
			  <div class="card-body">
			    <ul>
			    	<li>Disclosure of someone’s private information, such as their home address, email address, login credentials, phone number, passport number or bank account information.</li>
			    	<ul>
			    		<li>Note: This does not include publishing widely available public information, such as office phone numbers of public officials or company phone numbers.</li>
			    	</ul>
			    	<li>Inciting others to harass or threaten content on Mockering or others.</li>
					<li>Content that encourages the abuse of fan behavior, such as doxxing, dogpiling, bragding or non-platform targeting.</li>
					<li>The content poses a hidden or explicit threat to identifiable individuals, including personal injury or property damage.</li>
					<ul>
						<li>Note: "Implicit threats" include threats that do not indicate a specific time, place or method, but may have characteristics such as wielding weapons and simulating violence.</li>
					</ul>
					<li>Restrictions or assaults posted by police officers that identify individuals.</li>
					<li>Content depicting creators imitating severe acts of violence (execution, torture, maiming, beatings, etc.) against others.</li>
					<li>Sexual behavior without consent, unwanted sexual behavior, or any content characterized by graphically sexualizing or demeaning individuals.</li>
					<li>Show or show how to distribute content that has not consented to sexual imagery.</li>
					
			    	<p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features. Please note that this is not a complete list.</p>
			    </ul>
			  </div>
			</div>
			<br>
			<br>
			<h3 class="_fw600">Exceptions</h3>
			<p>If the main purpose is education, documentary, scientific or artistic content, we may allow harassing content. This is not a free pass to harass someone. Some examples include:</p>
			<ul>
				<li><b>Debates related to high-profile officials or leaders:</b> Content featuring debates or discussions of topical issues concerning people who have positions of power, like high-profile government officials or CEOs of major multinational corporations. </li>
				<li><b>Scripted performances:</b> Insults made in the context of an artistic medium such as scripted satire, stand up comedy, or music (e.g. a diss track). Note: This is not a free pass to harass someone and claim “I was joking.” </li>
				<li><b>Harassment education or awareness:</b> Content that features actual or simulated harassment for documentary purposes or with willing participants (e.g. actors) to combat cyberbullying or raise awareness.</li>
				<p>Note: We will adopt stricter rules for content that maliciously insult someone based on the status of the protected group of the content, regardless of whether they are high-profile people.</p>
			</ul>
			<br>
			<h3 class="_fw600">Other penalities</h3>
			<p>In rare cases, we may delete content or impose other penalties when the creator encounters the following situations:</p>
			<ul>
				<li>Repeatedly encourage audience abuse.</li>
				<li>According to their inherent attributes in multiple uploads, they repeatedly targeted, insulted and abused identifiable individuals.</li>
				<li>According to the local social or political environment, the individual is at risk of personal injury.</li>
				<li>Create content that destroys the Mockering ecosystem by continuously inciting hostile behavior among creators for personal financial interests.</li>
			</ul>
			<h3 class="_fw600">Examples</h3>
			<p>Here are some examples of content that’s not allowed on Mockering:</p>
			<ul>
				<li>Repeatedly showing pictures of someone and then making statements like “Look at this creature’s teeth, they’re so disgusting!”, with similar commentary targeting intrinsic attributes throughout the video.</li>
				<li>Targeting an individual based on their membership in a protected group, such as by saying: “Look at this filthy [slur targeting a protected group], I wish they’d just get hit by a truck.”</li>
				<li>Using an extreme insult to dehumanize an individual based on their intrinsic attributes. For example: “Look at this dog of a woman! She’s not even a human being — she must be some sort of mutant or animal!” </li>
				<li>Depicting an identifiable individual being murdered, seriously injured, or engaged in a graphic sexual act without their consent.</li>
				<li>Accounts dedicated entirely to focusing on maliciously insulting an identifiable individual.</li>
			</ul>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseMoreExamples" role="button" aria-expanded="false" aria-controls="collapseMoreExamples">More Examples</a>
			<div class="collapse" id="collapseMoreExamples">
			  <div class="card-body">
			    <ul>
			    	<li>Position someone as their desire for death or serious injury based on their intrinsic attributes, such as "I hope someone can hit (a member of a protected group) in the face with a hammer."</li>
					<li>Threaten someone's personal safety. This includes implicit threats, such as "The next time I see you, things will be bad for you.", explicit threats, such as "When I see you on Saturday, I will punch in the face", or by saying something like that Implying “best beware” when wielding weapons violently. </li>
			    	<li>Publish personal non-public personally identifiable information, such as phone number, home address or email, to divert attention to their attention or traffic. For example: "I have their phone numbers, keep making calls and leave messages until they answer!"</li>
					<li>Use in-game voice chats or messages in the stream to "raid" or direct malicious abuse to identifiable individuals.</li>
					<li>Directing users toward a Mocker’s comment section for  malicious abuse. For example: “everyone needs to go over to this person’s account right now and just go crazy, let them know how much we want them to die.”</li>
					<li>“Swatting” or other prank calls to emergency or crisis response services, or encouraging viewers to engage in this or any other harassing behavior.</li>
					<li>Tracking or trying to blackmail users.</li>
					<li>Long-term focus on identifiable individual breasts, buttocks or genitals for the purpose of reducing, objectifying or sexualizing.</li>
					<li>Video game content that has been developed or modified ("modified") to promote violence or hatred against individuals with the aforementioned attributes.</li>
			    	<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			    </ul>
			  </div>
			</div>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>