<% content_for :title, "Policy on hate speech • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Hate speech</h2>
			<p>Hate speech on Mockering is not allowed. We will delete content that incites violence or hatred against individuals or groups based on any of the following attributes:</p>
			<ul>
				<li>Age</li>
				<li>Caste</li>
				<li>Disability</li>
				<li>Ethnicity</li>
				<li>Gender Identity and Expression</li>
				<li>Nationality</li>
				<li>Race</li>
				<li>Immigration Status</li>
				<li>Religion</li>
				<li>Sex/Gender</li>
				<li>Sexual Orientation</li>
				<li>Victims of a major violent event and their kin</li>
				<li>Veteran Status</li>
			</ul>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<br>
			<h3 class="_fw600">What these policies mean for you</h3>
			<p>If the content meets any of the instructions below, please do not post on Mockering.</p>

			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseOtherTypes" role="button" aria-expanded="false" aria-controls="collapseOtherTypes">Other types of content that violates this policy</a>
			<div class="collapse" id="collapseOtherTypes">
			  <div class="card-body">
			    <p>When deciding to restrict age or remove content, we may consider the following factors. Remember, this is not a complete list.</p>
			    <ul>
			    	<li>Dehumanize individuals or groups by calling them subhumans and compare them to animals, insects, pests, diseases, or any other non-human entities.</li>
			    	<li>According to the above attributes, praise or beautify violence against individuals or groups.</li>
			    	<li>Use racial, religious or other insults and stereotypes that incite or incite hatred based on any of the above attributes. This can take the form of words, words, or images to promote these stereotypes or treat them as facts.</li>
			    	<li>Based on any of the above attributes, a statement that an individual or group is physically or psychologically disadvantaged, defective or ill. This includes saying that one group has less than another group, saying that their intelligence, ability, or impairment is lower.</li>
			    	<li>Declaring that a group is superior to a group with any of the above characteristics to justify violence, discrimination, isolation or exclusion.</li>
			    	<li>Based on any of the above attributes, conspiracy theories consider individuals or groups to be evil, corrupt or malicious.</li>
			    	<li>Call for the subjugation or domination over individuals or groups based on any of the attributes noted above.</li>
			    	<li>Deny that a well-documented, violent event took place.</li>
			    	<li>Attacks on a person’s emotional, romantic and/or sexual attraction to another person. </li>
			    	<li>Content containing hateful supremacist propaganda including the recruitment of new members or requests for financial support for their ideology.</li>
			    	<li>Music videos promoting hateful supremacism in the lyrics, metadata, or imagery.</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseEducational" role="button" aria-expanded="false" aria-controls="collapseEducational">Educational content</a>
			<div class="collapse" id="collapseEducational">
			  <div class="card-body">
			    <p>If the main purpose is education, documentary, scientific or artistic content, we may allow content containing hate speech. This is not a free pass to promote hate speech. Examples include:</p>
			    <ul>
			    	<li>Documentaries about hate groups: Educational content that does not support the group or promotes ideas will be allowed. Documentaries that promote violence or hatred are prohibited.</li>
						<li>Documentaries about human science research: even documentaries about the theory of inferiority or superiority of a specific group are acceptable because they are educational. We do not allow documentaries to claim that there is scientific evidence today that a person or group is inferior or inferior.</li>
						<li>Historical footage of an event, such as World War II, the event will not incite violence or hatred.</li>
						<p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features. For educational content that contains hate speech, this context must appear in the image or audio of the video itself. It is not enough to provide it in the title or description.</p>
			    </ul>
			  </div>
			</div>
			<br>
			<br>
			<h3 class="_fw600">Other penalties</h3>
			<p>In rare cases, we may delete content or impose other penalties when the creator encounters the following situations:</p>
			<ul>
				<li>Repeatedly encourage audience abuse.</li>
				<li>According to the attributes of the above multiple uploads, a group is repeatedly targeted, insulted and abused.</li>
				<li>According to the local social or political environment, expose people with the above attributes to the risk of personal injury.</li>
				<li>Create content that harms the Mockering ecosystem by continuously inciting hostility towards people with the above-mentioned personal gain attributes.</li>
			</ul>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>The following are examples of hate speech that Mockering does not allow.</p>
			<ul>
				<li>"I'm very happy that this [violent incident] happened. They got what they deserved (referring to people with the above characteristics)."</li>
				<li>"[A person with the above characteristics] is a dog" or "[A person with the above characteristics] is like an animal."</li>
				<ul>
					<li>"Go there and hit a [person with the above attributes]."</li>
					<li>"Everyone in [groups with the above attributes] is a criminal and a mob."</li>
					<li>"[People with the above attributes] are the scum of the earth."</li>
					<li>"[A person with the above characteristics is a disease."</li>
					<li>"[People with the above attributes] are not so smarter than us because their brains are smaller."</li>
					<li>"[Groups with any of the attributes mentioned above] threaten our survival, so we should expel them if we get any chance."</li>
					<li>"[The group with any of the attributes mentioned above] developed a program to manage the world and get rid of us."</li>
					<li>"[The above attribute] is just a mental illness that needs to be cured."</li>
					<li>"[People with any of the above characteristics] should not be educated in school because they should not be educated at all."</li>
					<li>"All the so-called victims of this violence are actors. No one was injured. This is just a false signal."</li>
					<li>“All of the ‘so-called victims’ of this are actors. No one was hurt.”</li>
					<li>Shouting “[people with attributes noted above] are pests!” at someone regardless of whether the person does or does not have the alleged attributes</li>
					<li>Video game content which has been developed or modified (“modded”) to promote violence or hatred against a group with any of the attributes noted above.</li>
					<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
				</ul>
			</ul>
			<br>
			<br>
			<%= render 'whathappen' %>
			<p>If we believe that your content is close to hate speech, we may restrict the Mockering features of that content. You can learn more about limited features here.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>