<% content_for :title, "Policy on impersonation • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Policy on impersonation</h2>
			<p>Content that impersonates others or accounts is prohibited on Mockering. Mockering also enforces the rights of trademark holders. If a account or content in a account causes confusion about the source of the advertised goods and services, this may not be allowed.</p>
			<br>
			<h3 class="_fw600">What these policies mean to you</h3>
			<p>If it meets any of the instructions below, please do not post content on Mockering.</p>
			<ul>
				<li>Account simulation: Copy the profile, background or overall appearance of other accounts to make it look like someone else’s account. As long as another account can be copied clearly, the account need not be 100% identical.</li>
				<li>Personal impersonation: Content designed to look like someone else is being published.</li>
			</ul>
			<br>
			<h3 class="_fw600">Examples</h3>
			<ul>
				<li>A account with the same name and image as another account, the only difference is that a space is inserted in the name or the letter O is replaced with zero.</li>
				<li>Use the real name, username, image, brand, logo, or other personal information of another person to induce people to believe that you are that person.</li>
				<li>Exactly matching a account description to another account.</li>
				<li>Create a account using a person’s name and image, and then pretend that the person is posting content to the account.</li>
				<li>The account claims to be a "fan account", but it actually pretends to be another account and re-uploads its content.</li>
				<li>Accounts impersonating an existing news account.</li>
			</ul>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>