<% content_for :title, "Links in your content policy • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Links in your content</h2>
			<p>Links that lead users to websites with content that violate our community guidelines are not allowed on Mockering.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<br>
			<h3 class="_fw600">What this policy means for you</h3>
			<p>If you're posting content: Don’t post links in your content on Mockering if they fit any of the descriptions noted below.</p>
			<ul>
				<li>Links to pornography</li>
				<li>Links to websites or apps that install malware</li>
				<li>Links to websites or apps phishing for a user’s login credentials, financial information, etc.</li>
				<li>Links to websites, apps, or other information technology that give unauthorized free access to audio content, audiovisual content, full video games, software, or streaming services that normally require payment</li>
				<li>Links to websites that seek to raise funds or recruit for terrorist organizations</li>
				<li>Links to sites containing Child Sexual Abuse Imagery (CSAI)</li>
				<li>Links to sites selling items noted in our regulated goods guidelines</li>
			</ul>
			<p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features. Please note that this is not a complete list.</p>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Below are some examples of content not allowed on Mockering.</p>
			<ul>
				<li>A video with pornographic themes described as "Click here to view content not allowed on Mockering!" and contains a link to a pornographic website.</li>
				<li>A game video whose description contains a link to a website that promises free game currency or online store credit, but it actually points to a link to a website that infects the user’s computer and is infected with malware.</li>
				<li>Publish the link to a phishing site that will steal the user’s bank login information and password.</li>
				<li>Instruct viewers to copy and paste links that cannot be copied into the video, thereby taking them to pornographic or spam sites.</li>
				<li>Any links that direct users to websites, file hosting services, etc., so that they can access or download child sexual abuse images.</li>
			</ul>
			<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>