<% content_for :title, ": Nudity and sexual content policies" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Nudity and sexual content</h2>
			<p>Sexually explicit content on Mockering is prohibited. Publishing pornographic content may result in content removal or account termination. Videos containing fetish content will be deleted or have age restrictions. In most cases, violence, images or insulting fetishes are not allowed on Mockering.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<p>Pornography with minors and content that sexually exploit minors are prohibited on Mockering. We report content containing child sexual abuse images to the National Center for Missing and Exploited Children, which cooperates with law enforcement agencies around the world.</p>
			<br>
			<h3 class="_fw600">What this means for you</h3>
			<p>If you want to publish content</p>
			<p>If it contains any of the following content, please do not post it on Mockering. Clear content that violates the following policies may result in account termination.</p>
				<ul>
					<li>Depicting the genitals, breasts or buttocks (clothed or unclothed) for the purpose of sexual gratification</li>
					<li>Pornographic content describing sexual behavior, genitals, or fetishes for the purpose of sexual gratification</li>
				</ul>
			<br>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseOther" role="button" aria-expanded="false" aria-controls="collapseOther">Other types of content that violate this policy</a>
			<div class="collapse" id="collapseOther">
			  <div class="card-body">
			    <ul>
			    	<li>Explicit or implied description of sexual behavior for the purpose of sexual gratification</li>
			    	<li>Masturbation or touching of genitals, breasts or buttocks</li>
			    	<li>Use or display sex toys to provide viewers with sexual satisfaction</li>
			    	<li>Pornographic animations, sexual acts or fetish content</li>
			    	<li>Nudity or semi-nudity for sexual gratification</li>
			    	<li>Bestiality or promotion of bestiality</li>
			    	<li>Incest or promotion of incest</li>
			    	<li>Involuntary or harmful sex</li>
			    	<li>Celebrity wardrobe accident or leaked nude photos</li>
			    	<li>Violent, graphic or abusive fetish content for the purpose of sexual gratification</li>
			    	<li>Aggregate content for sexual gratification</li>
			    	<li>Any pornography involving minors-for more information, see Child Safety on the Mockering page</li>
			    	<p>Please note this is not a complete list.</p>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseAgeRestricted" role="button" aria-expanded="false" aria-controls="collapseAgeRestricted">Age restricted content</a>
			<div class="collapse" id="collapseAgeRestricted">
			  <div class="card-body">
			    <p>If the content contains nudity or other pornographic content, but we do not describe any of the above, we may restrict its age. When determining whether to restrict age or delete content, we consider the following factors.</p>
			    <ul>
			    	<li>The focus of the film is breasts, buttocks or genitals (clothed or unclothed)</li>
			    	<li>Whether to depict the object in a posture that intentionally evokes the viewer</li>
			    	<li>Is the language used in the video a graphic language or an obscene language</li>
			    	<li>Does the subject's action in the video trigger sexual behavior, such as kissing, provocative dancing or caressing</li>
			    	<li>Whether clothing is generally unacceptable in public places (such as underwear)</li>
			    	<li>Whether the sexual image or audio is blurred, obscured or obscured</li>
			    	<li>Whether the sexual imagery or audio in the content is short-lived or continuous</li>
			    	<li>Whether the content invites others to participate in challenges involving sexual behavior</li>
			    	<p>Please note this is not a complete list.</p>
			    </ul>
			    <p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features. Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseEducational" role="button" aria-expanded="false" aria-controls="collapseEducational">Educational content</a>
			<div class="collapse" id="collapseEducational">
			  <div class="card-body">
			    <p>If the main purpose is education, documentary, scientific or artistic work, and not free, we allow nudity. For example, a documentary about breast cancer is appropriate, but it is not appropriate not to publish the clip in context to obtain sexual satisfaction from the same documentary. In aboriginal communities, during medical procedures, childbirth, artistic performances, or breastfeeding, nudity may not satisfy our record exception. Remember, providing context in the content, title and description will help us and your audience determine the main purpose of the video.</p>
			  </div>
			</div>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Here are some examples of content that’s not allowed on Mockering.</p>
			<ul>
				<li>Clips extracted from non-pornographic movies, performances or other content to isolate sexual content</li>
				<li>Groping, wearing pants, public masturbation, miniskirts, voyeurism, predatory exhibitionists or any other content that portrays someone in a pornographic manner without the consent of others</li>
				<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			</ul>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseMoreExamples" role="button" aria-expanded="false" aria-controls="collapseMoreExamples">Age restricted content</a>
			<div class="collapse" id="collapseMoreExamples">
			  <div class="card-body">
			    <ul>
			    	<li>Aggregate playlists containing nude or sex-themed content for sexual purposes</li>
			    	<li>A provocative dance that focuses on the dancer's genitals, hips or breasts</li>
			    	<li>Content that sexualizes rape in any form, or aggregates content of dramatic rape scenes</li>
			    	<li>udio or text description of sexual behavior for the purpose of sexual gratification</li>
			    	<li>Displaying the contents of body fluids or excreta (such as urine) for sexual purposes</li>
			    	<li>Use other daily necessities or scenes (such as injections or eating) for sexual gratification</li>
			    	<li>Video game content developed or modified ("modified") for sexual gratification, or focuses on unpopular sexual themes</li>
			    	<p>Please note this is not a complete list.</p>
			    </ul>
			    <p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features. Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			  </div>
			</div>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>