<div class="container">
	<h3 class="_fw600">Policy, Safety and Copyright</h3>
	<br>
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-4">
			<b>Mockering policies</b>
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<b>Privacy and safety center</b>
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<b>Reporting and enforcing</b>
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<b>Legal policies</b>
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<b>Copyright</b>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</div>