<% content_for :title, ": Privacy resources" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Privacy resources</h2>
			<ul>
				<li><%= link_to protecting_identity_howmockeringworks_path do %>Protecting your identity<% end %> </li>
				<li><%= link_to video_privacy_howmockeringworks_path do %>Change video privacy<% end %> </li>
			</ul>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>