<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Protecting your identity</h2>
			<p>We want you to feel safe when you are on Mockering, which is why we encourage you to let us know if videos or comments on the site violate your privacy or sense of security.</p>
			<p>If someone publishes your personal information or uploads your video without your consent, you should contact the uploader and ask them to delete the content. If you cannot reach an agreement with the uploader, or if it is not convenient to contact the uploader, you can request deletion of content in accordance with our <%= link_to 'privacy guidelines', privacy_guidelines_howmockeringworks_path %>.</p>
			<br>
			<h3 class="_fw600">Criteria for deleting content</h3>
			<p>Our <%= link_to 'privacy policy', privacy_guidelines_howmockeringworks_path %> details our privacy complaint process and factors to consider when evaluating privacy claims.</p>
			<p>For content to be considered for deletion, the individual must be uniquely identifiable. If you want to use the privacy complaint process, please make sure you have a unique identifier in the content you want to report before proceeding. When evaluating whether a person can be uniquely identified, we consider the following factors:</p>
			<ul>
				<li>Image or voice</li>
				<li>Full name</li>
				<li>Financial information</li>
				<li>Contact information</li>
				<li>Other personally identifiable information</li>
				<p>When you report a privacy complaint, we consider public interest, newsworthiness and consent as factors in our final decision.</p>
			</ul>
			<br>
			<h3 class="_fw600">Tips on how to protect Mockering privacy:</h3>
			<ul>
				<li>Please consider carefully before posting personal information. This includes the town where you live, where you go to school, and your home address.</li>
				<li>Protect your account data and don’t share passwords with others. The mocking employee will never ask you to enter your password. If someone pretends to come from Mockering to contact you, please don't be fooled.</li>
				<li>Get permission first. Based on experience, you should obtain permission before taking pictures of others or publishing their personal information.</li>
			</ul>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>