<% content_for :title, "Reporting • Mockering" %>
<div class="container p-t-15px">
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Reporting</h2>
			<p>We rely on members of the Mockering community to report content that they consider inappropriate. The content of the report is anonymous, so other users cannot know who made the report.</p>
			<p>After the content is reported, it will not be deleted automatically. The content of the report will be reviewed according to the following criteria:</p>
			<ul>
				<li>Content that violates our <%= link_to 'community guidelines', howmockeringworks_path %> will be removed from Mockering.</li>
				<li>Content that may not be suitable for all young audiences is subject to <%= link_to 'age restrictions', age_restricted_howmockeringworks_path %>.</li>
			</ul>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>