<% content_for :title, ": Sale of Illegal or Regulated Goods or services" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Sale of Illegal or Regulated Goods or Services</h2>
			<p>The sale of content intended to sell certain regulated goods and services is prohibited on Mockering.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the channel.</p>
			<h3 class="_fw600">What this policy means to you</h3>
			<b>If you want to publish content:</b>
			<p>If Mockering is intended to directly sell, link or promote access to any of the regulated goods and services listed below, please do not post content on Mockering. It is prohibited to directly contact the seller by posting links, emails, phone numbers or other methods to sell these items or promote the use of these services.</p>
			<ul>
				<li>alcohol</li>
				<li>Bank account password, stolen credit card or other financial information</li>
				<li>Forged documents or currency</li>
				<li>Control of narcotics and other drugs</li>
				<li>Explosive</li>
				<li>organ</li>
				<li>Endangered species or partially endangered species</li>
				<li>Guns and certain gun accessories</li>
				<li>Nicotine, including atomized products</li>
				<li>Online gambling sites that have not been reviewed by Mockering</li>
				<li>No prescription drugs</li>
				<li>Sex services or escort services</li>
				<li>Unlicensed medical services</li>
				<li>Human smuggling</li>
			</ul>
			<p>This policy applies to videos, video descriptions, comments, live streaming and any other YouTube products or features. Please note that this is not a complete list.</p>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Below are some examples of content not allowed on YouTube.</p>
			<ul>
				<li>Link to unapproved online gambling or sports betting sites.</li>
				<li>Sell ​​fake passports or provide instructions on creating fake official documents.</li>
				<li>Advertising escort, prostitution or erotic massage services.</li>
				<li>Instructions on how to buy drugs on the dark web.</li>
				<li>Video of users making purchases using software that generates fake credit card numbers.</li>
				<li>Include a link to an online pharmacy that does not require a prescription.</li>
				<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			</ul>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>