<% content_for :title, "Spam, delusive practices and scams policies • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Spam, delusive practices and scams policies</h2>
			<p>Mockering does not allow the use of spam, scams or other fraudulent methods in the Mockering community. We also do not allow content whose main purpose is to deceive others.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<br>
			<h3 class="_fw600">What these policies mean for you</h3>
			<p>If the content meets any of the instructions below, please do not post on Mockering.</p>
			<ul>
				<li>Video spam: Post excessive, repetitive or untargeted content, and perform one or more of the following actions:</li>
				<ul>
					<li>Promise to the audience that they will see something, but will lead them to the scene.</li>
					<li>Assure viewers that they will make money soon to get clicks, views or traffic from Mockering.</li>
					<li>Attract the audience to sites that distribute malware, try to collect personal information, or other sites that have a negative impact.</li>
				</ul>
				<li>Misleading metadata or thumbnails: Use titles, thumbnails, descriptions or tags to trick users into thinking that the content is not fact.</li>
				<li>Manipulated media: content that has been manipulated or tampered with technology has the effect of misleading users (beyond the snippets intercepted from the context) and may cause serious risks of serious harm.</li>
				<li>Fraud: Offering cash gifts, "get rich quick" or pyramid schemes (no money for tangible products in the pyramid structure).</li>
				<li>Suppress voters: Content designed to mislead voters about the time, place, method or qualification requirements for voting.</li>
				<li>Suppress census participation: Content designed to mislead participants about the time, method, or eligibility requirements for participating in the census.</li>
				<li>Candidate qualifications: The content of false claims related to the technical qualification requirements of current political candidates and in-service elected government officials. The eligibility requirements considered are based on applicable national laws, including age, citizenship or living conditions.</li>
				<li>Incitement to interfere in the democratic process: The content encourages others to interfere in the democratic process, such as obstructing or interrupting the voting process.</li>
				<li>Distribute hacked materials: content containing hacked information, whose disclosure may interfere with democratic procedures, such as elections and censuses.</li>
				<li>Reward spam: Sell content on Mockering with interactive metrics (such as views, likes, comments or any other metrics). This also includes content whose sole purpose is to increase subscribers, views, or other metrics (for example, only offer to subscribe to another creator's account in exchange for content that subscribes to your account, also known as "Sub4Sub" content).</li>
				<li>Spam comments: Comments whose sole purpose is to collect personal information from viewers, mislead viewers to leave Mockering or perform any of the prohibited actions mentioned above.</li>
				<li>Repeated comments: Leave a lot of the same, untargeted or repeated comments.</li>
				<li>Real-time streaming abuse: Real-time streaming is designed to stream content belonging to others, and has not been corrected after repeated warnings of possible abuse. The account owner should actively monitor the real-time stream and correct any potential problems in a timely manner.</li>
			</ul>
			<p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features. Remember, this is not a complete list.</p>
			<p>Note: You can encourage viewers to subscribe, click the "Like" button, share or comment.</p>
			<br>
			<h3 class="_fw600">Examples</h3>
			<ul>
				<li>Tell the audience that they can vote through fake methods, such as sending the text of the vote to a specific number</li>
				<li>Abandoning voter qualification requirements, such as saying that a particular election is only open to voters over 50</li>
				<li>Intentionally telling the audience the wrong election date</li>
			</ul>
			<h3 class="_fw600">More examples</h3>
			<br>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseVideoSpam" role="button" aria-expanded="false" aria-controls="collapseVideoSpam">Video spam</a>
			<div class="collapse" id="collapseVideoSpam">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>Reassure viewers that they will watch certain content but direct them to watch content elsewhere than the site.</li>
			    	<li>Publish the same content repeatedly across one or more accounts.</li>
			    	<li>Upload in bulk what you grab from other creators.</li>
			    	<li>Attempts to get viewers to install malicious software or direct them to websites that may compromise their privacy.</li>
			    	<li>Automatically generated content that is quickly published by a computer, regardless of quality or viewer experience.</li>
			    	<li>If viewers install software, download applications or perform other tasks, promising money, products, software or game allowances are provided for free.</li>
			    	<li>Publish member content on a large scale in a dedicated account.</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseThumbnails" role="button" aria-expanded="false" aria-controls="collapseThumbnails">Misleading metadata or thumbnails</a>
			<div class="collapse" id="collapseThumbnails">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>Put too many tags in the video description ("tag padding") instead of placing them as tags when uploading.</li>
			    	<li>Thumbnails that have nothing to do with photos of popular celebrities.</li>
			    	<li>Use titles, thumbnails, descriptions or tags to deceive users into believing that the content is not the case, especially when there is a serious risk of serious harm to the real world.</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseManipulate" role="button" aria-expanded="false" aria-controls="collapseManipulate">Manipulate the media</a>
			<div class="collapse" id="collapseManipulate">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>Tell the audience that they can vote through incorrect methods, such as sending the text of the vote to a specific number.</li>
			    	<li>To waive voter qualification requirements, such as saying that a particular election is only open to voters over 50.</li>
			    	<li>Tell the audience the wrong voting date.</li>
			    	<li>Provide incorrect instructions on how to participate in the census.</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseScams" role="button" aria-expanded="false" aria-controls="collapseScams">Scams</a>
			<div class="collapse" id="collapseScams">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>Make exaggerated promises, such as claiming that the audience can get rich quickly, or that miracle therapy can cure chronic diseases such as cancer.</li>
			    	<li>Promote cash gifts or other pyramid schemes.</li>
			    	<li>An account dedicated to the cash gift program.</li>
			    	<li>A video that promises "You will earn $50,000 tomorrow through this program!"</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseSpam" role="button" aria-expanded="false" aria-controls="collapseSpam">Incentivization Spam</a>
			<div class="collapse" id="collapseSpam">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>The purpose is to encourage viewers to subscribe to the video.</li>
			    	<li>"Subs 4 Subs" videos.</li>
			    	<li>Sell ​​"like" videos.</li>
			    	<li>A video that provides the channel to the 100,000th subscriber without any other content.</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseCommentSpam" role="button" aria-expanded="false" aria-controls="collapseCommentSpam">Comments Spam</a>
			<div class="collapse" id="collapseCommentSpam">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>Comments about surveys or giveaways that promote the pyramid scheme.</li>
			    	<li>"Pay per click" referral link in comments.</li>
			    	<li>Comments that falsely claim to provide complete video content. This could be something like a movie, TV show or concert.</li>
			    	<li>Post a link to a malware or phishing site in the comments: "omg just got thousands of attacks from here! -[xyz phishing site].com"</li>
			    	<li>Reviews with fake store links.</li>
			    	<li>"Hi, everyone check my channel/video here!" When the channel/video has nothing to do with the posted video.</li>
			    	<li>Post the same comment repeatedly with a link to your channel.</li>
			    </ul>
			    <p>Please keep in mind that these are just some examples, if you think the content may violate this policy, do not post the content.</p>
			  </div>
			</div>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>

<style type="text/css">
</style>