<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Strikes basics</h2>
			<p>When our reviewers receive a notification about a policy that violates the Mockering Code of Conduct or the Community Guidelines, they will issue a Community Guidelines warning.</p>
			<p>Sometimes content is removed for reasons that violate community guidelines, such as a first-party privacy complaint or court order. In this case, the uploader will not receive a warning.</p>
			<br>
			<h3 class="_fw600">What if you strike the union?</h3>
			<p>If a strike is issued, we’ll tell you:</p>
			<ul>
				<li>What was deleted</li>
				<li>Which policies it violates (e.g. adult content or violence)</li>
				<li>How it affects your account</li>
				<li>What can be done next</li>
			</ul>
			<b>Caution</b>
			<p>We know that errors will occur, and you are not violating our policy, which is why the first violation is usually just a warning. Please note that you will only be warned once and the warning will remain on your account. The next time you find that your content violates the Community Guidelines, you will receive a warning. In some cases, a single case of serious abuse will cause the account to be terminated without warning. If you think we did something wrong, you can send a warning.</p>
			<br>
			<h4 class="_fw600">First strike</h4>
			<p>If we find that your content does not comply with our policies a second time, we will receive a warning.</p>
			<p>This means that you will not be able to perform the following actions for a week:</p>
			<ul>
				<li>Upload videos</li>
				<li>Create custom thumbnails</li>
				<li>Create, edit or add collaborators to the playlist</li>
				<li>Use the "Save" button to add or delete playlists from the watch page</li>
			</ul>
			<p>Full access will be automatically restored after 1 week, but your warning will remain on your account for 90 days.</p>
			<br>
			<h4 class="_fw600">Second strike</h4>
			<p>If you receive a second warning within the same 90 days as the first warning, you will not be able to post content within 2 weeks. If there are no other problems, all privileges will be automatically restored after two weeks, but each warning will expire 90 days after the warning is issued.</p>
			<br>
			<h4 class="_fw600">Thrid strike</h4>
			<p>Three strikes in the same 90 days will cause your account to be permanently deleted from Mockering. In addition, please note that each warning will expire within 90 days after the warning is issued, and deleting the content will not delete your warning.</p>
			<br>
			<h3 class="_fw600">What to do if the strike</h3>
			<p>We want to help you stay on Mockering, so please:</p>
			<ul>
				<li>Learn about our <%= link_to 'community guidelines', howmockeringworks_path %> to ensure that your content complies with our policies.</li>
				<li>If you receive a warning on your account and you think we made a mistake, please let us know. You can appeal this decision.</li>
			</ul>
			<p>Mockering reserves the right to restrict content created by creators at its sole discretion. If your account is restricted by Mockering or cannot use any of Mockering’s features, you are prohibited from using other accounts to resolve these restrictions on Mockering. According to our terms of service, violation of this restriction will be considered circumvention and may result in the termination of your account.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
