<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
      	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
      <% end %>
      <br>
      <br>
			<h2 class="_fw600">Suicide and self injury</h2>
			<p>At Mockering, we attach great importance to the health and well-being of all creators and viewers. Recognition and understanding of mental health is very important. We support creators to share their stories, such as posting content to discuss their experiences with depression, self-harm or other mental health problems.</p>
			<p>However, we do not allow content on Mockering that incites suicide, self-harm, or content that is intended to shock or objection.</p>
			<br>
			<h3 class="_fw600">What should I do if I find the content</h3>
			<p>If you find someone expressing suicidal thoughts or engaging in self-harm, please contact your local emergency service immediately for help, and mark the video to get our attention immediately.</p>
			<br>
			<h3 class="_fw600">What if you need support</h3>
			<p>If you feel depressed, suicide or self-harm, please let us know that it helps and you are not alone. Many people turn to suicidal thinking and self-harm in response to painful emotions. Talking to an expert can help you determine healthy and effective coping strategies and develop skills to deal with difficult emotions.</p>
			<p>The following is a list of suicide prevention organizations dedicated to helping people in need in different countries and regions. The websites <a href="https://www.befrienders.org/" target="_blank">www.befrienders.org</a> and <a href="http://www.suicide.org/international-suicide-hotlines.html" target="_blank">suicide.org</a> also have extensive lists of organizations.</p>
			<p>If you are looking for educational resources on self-harm, please visit the following website:</p>
			<ul>
				<li>Please visit <a href="https://selfinjury.com/" target="_blank">www.selfinjury.com</a>: S.A.F.E Alternatives is a network and educational resource library dedicated to helping end self-injury behavior.</li>
				<li>Please visit <a href="https://sioutreach.org/" target="_blank">www.sioutreach.org</a>: SiOS is an outreach program that provides information and resources about self-harm to people who self-harm, recoveries, and those who want to help.</li>
			</ul>
			<h3 class="_fw600">Guidelines for publishing mental health related content</h3>
			<p>Mockering users should not be afraid to talk publicly about mental health or self-harm topics. However, if the content meets any of the following instructions, please do not post on Mockering:</p>
			<ul>
				<li>Promote or glorify suicide</li>
				<li>Provide instructions on how to self-harm or die by suicide</li>
				<li>Self-harming graphic images posted to shocked or offensive viewers</li>
				<li>This Community Guidelines policy applies to videos, video descriptions, comments, live streams, and any other Mockering products or features. Please note that this is not a complete list.</li>
			</ul>
			<br>
			<br>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>