<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<h2 class="_fw600">Suicide and self injury</h2>
			<p>The Community Guidelines of Mockering are designed to ensure that our community remains protected without affecting the right to free expression. They establish what is allowed and what is not allowed in Mockering, applying to all types of content on our platform, which includes videos, comments, links and thumbnails.</p>
			<p>Check a full list of our Community Guidelines below:</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>