<div class="container p-t-15px">
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Trademark</h2>
			<p>A trademark is a word, symbol or combination that identifies the source of a product and distinguishes it from other products. Trademarks are obtained by companies or other entities through legal procedures. Once obtained, it will grant the owner the right to use trademarks related to these goods.</p>
			<p>Trademark infringement is the improper or unauthorized use of a trademark, and its use may cause confusion about the source of the product. Mockering policies prohibit videos and accounts from infringing trademarks. If your content uses trademarks of others that may cause confusion, your video may be blocked. Your account may also be suspended.</p>
			<p>If you believe that your trademark has been infringed, please remember that Mockering does not mediate trademark disputes between creators and trademark owners. Therefore, we strongly recommend that trademark owners speak directly with the creator who posted the content in question. Contacting the uploader can solve the problem faster in a way that benefits everyone. Some creators list ways to contact them on their account.</p>
			<p>If you cannot reach a resolution with the relevant account holder, please submit a trademark complaint through our trademark complaint form.</p>
			<!--<button></button>-->
			<p>Mockering is willing to conduct a limited review of reasonable complaints and will remove its content if it is clearly infringing. To help resolve disputes, Mockering will forward each trademark complaint to the uploader before taking any action. In this way, the uploader can resolve any potential trademark issues.</p>
			<p>If your complaint is related to the sale or promotion of counterfeit goods, please file a counterfeit complaint.</p>
			<p>If your complaint is related to protected works such as songs, movies or books, please file a copyright complaint.</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>