<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	    	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	    <% end %>
	    <br>
	    <br>
			<h2 class="_fw600">Change video privacy</h2>
			<p>Update the video’s privacy settings to control the video’s display position and viewers.</p>
			<br>
			<h3 class="_fw600">Change video privacy settings</h3>
			<ul>
				<li>Sign in to your account of Mockering</li>
				<li>Go to the video you want to become to private</li>
				<li>Click in Edit</li>
				<li>Go to <b>"Information"</b> and check <b>"Private"</b></li>
				<li><b>Update</b></li>
			</ul>
			<br>
			<h3>About privacy settings</h3>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapsePrivacy" role="button" aria-expanded="false" aria-controls="collapsePrivacy">Public videos</a>
			<div class="collapse" id="collapsePrivacy">
			  <div class="card-body">
			    <p>Anyone on Mockering can watch public videos. They can also be shared with anyone who uses Mockering. When you upload them and display them in search results and related video lists, they will be published on your channel.</p>
			  </div>
			</div>
			<br>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapsePrivacy" role="button" aria-expanded="false" aria-controls="collapsePrivacy">Private videos</a>
			<div class="collapse" id="collapsePrivacy">
			  <div class="card-body">
			    <p>Private videos and playlists can only be seen by you and the people you choose. Others who visit the "Videos" tab of your channel page will not see your private videos. They will not appear in Mockering search results. The Mockering system and human reviewers may review the ad suitability, copyright and other abuse prevention mechanisms of private videos.</p>
			  </div>
			</div>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>