<% content_for :title, "Violent content policies • Mockering" %>
<div class="container p-t-15px">
	<%= render 'header' %>
	<div class="row m-0">
		<div class="col-12 col-md-4 _col_sidemenu">
			<%= render 'sidenav' %>
		</div>
		<div class="col-12 col-md-8 _content_howmockeringworks">
			<%= link_to :back, class: "_link_back p-0"  do %>
	        	<i class="material-icons">keyboard_arrow_left</i> <span style="font-size:10pt;">Back</span>
	        <% end %>
	        <br>
	        <br>
			<h2 class="_fw600">Violent content policies</h2>
			<p>It is prohibited to use violent or bloody content intended to shock or resent viewers, or content that encourages others to commit violent behavior on Mockering.</p>
			<p>If you think anyone is imminent, you should contact your local law enforcement agency to report the situation immediately.</p>
			<p>If you find content that violates this policy, please report it. For instructions on reporting violations of our Community Guidelines, please click here. If you find multiple videos or comments to report, you can report the account.</p>
			<br>
			<h3 class="_fw600">What these policies mean for you</h3>
			<p>If the content meets any of the instructions below, please do not post on Mockering.</p>
			<ul>
				<li>Inciting others to commit violence against individuals or specific groups of people</li>
				<li>Fighting involving minors</li>
				<li>Video, audio or image involving traffic accidents, natural disasters, consequences of war, consequences of terrorist attacks, street fights, physical assaults, sexual assaults, self-immolations, torture, dead bodies, protests or riots, robberies, medical procedures or other similar situations with the intent to make viewers Shocked or disgusted</li>
				<li>The screen or image shows bodily fluids, such as blood or vomit, intended to shock or disgust the audience.</li>
				<li>Content that intentionally causes unnecessary pain or harm.</li>
				<li>Content that encourages or forces animals to fight humans</li>
				<li>Dramatic or fictional shots of any of the content listed above, and the viewer does not have enough context to determine whether these shots are dramatic or fictional</li>
				<li>Shots of severe injuries (such as severed limbs)</li>
				<p>Please note this is not a complete list.</p>
			</ul>
			<br>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseRestrictedAge" role="button" aria-expanded="false" aria-controls="collapseRestrictedAge">Age restricted content</a>
			<div class="collapse" id="collapseRestrictedAge">
			  <div class="card-body">
			    <p>If the content includes any of the above, we may set age restrictions instead of deleting the content, but will provide enough context to understand it. For example, content that shows that victims were injured in a major traffic accident may be deleted, but if news reports explaining the situation and background are provided, we may age-restrict the content. For educational content that contains violence, this context must appear in the image or audio of the video itself. You can learn more about the importance of context here.</p>
			    <p>We can also limit the age of fictional violence when fictional violence includes graphic scenes (such as a person being mutilated or beheaded) or scenes showing people suffering these serious injuries. Usually, when content or metadata tells us that the content is fictitious or is obvious from the content itself (such as animated content or video games), we will allow dramatic violence.</p>
			    <p>When determining whether to restrict age or delete content, we consider the following factors. Please note that this is not a complete list.</p>
			    <ul>
			    	<li>Whether the focus of the video is a violent image or a bloody image, such as focusing only on the most violent graphic part of a movie or video game</li>
			    	<li>Does the title, description, tag or other data indicate the intention to shock or disgust the viewer</li>
			    	<li>Whether the violent image or audio is blurred, obscured or obscured</li>
			    	<li>When the violent image or audio appeared in the content</li>
			    	<li>If the context allows the viewer to know that the image is dramatized or fictitious, such as in the video, title or description</li>
			    	<li>If the violence is part of a religious or cultural custom, and the audience is provided with this information</li>
			    </ul>
			  </div>
			</div>
			<p>This policy applies to videos, video descriptions, comments, live streaming and any other Mockering products or features.</p>
			<br>
			<h3 class="_fw600">Examples</h3>
			<p>Below are some examples of content not allowed on Mockering.</p>
			<ul>
				<li>Encourage others to go to a specific place for violence, to commit violence at a specific time or to target individuals or groups who have suffered violence</li>
				<li>The actual campus struggle between minors. If minors are just fighting and the viewer is obvious, we may allow content to be played.</li>
				<li>Beating or fighting outside of a sporting event conducted under professional or professional supervision</li>
			</ul>
			<br>
			<h3 class="_fw600">More examples</h3>

			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseShocking" role="button" aria-expanded="false" aria-controls="collapseShocking">Violent, shocking content </a>
			<div class="collapse" id="collapseShocking">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <p>We can also limit the age of fictional violence when fictional violence includes graphic scenes (such as a person being mutilated or beheaded) or scenes showing people suffering these serious injuries. Usually, when content or metadata tells us that the content is fictitious or is obvious from the content itself (such as animated content or video games), we will allow dramatic violence.</p>
			    <ul>
			    	<li>The content focuses on the medical procedures on open wounds, and does not provide any education or explanation to the audience.</li>
			    	<li>Scenes of violent crimes, such as robbery or rape, have no educational or explanatory effect on the audience.</li>
			    	<li>Cell phones, dash cams, or closed-circuit television screens show people who were injured or killed in road traffic accidents with titles such as "crazy accident" or "warning: a lot of blood."</li>
			    	<li>Beheading video.</li>
			    	<li>Unilateral attack entitled "Watch this person being beaten!"</li>
						<li>In fatal or major violent incidents, the perpetrators took shots, visible or audible weapons, violent or injured victims. Note: Even if your content includes education, literature, science, or art, this example is no exception.</li>
			    </ul>
			  </div>
			</div>
			<a class="btn _btn_collapse_examples" data-toggle="collapse" href="#collapseAnimalAbuse" role="button" aria-expanded="false" aria-controls="collapseAnimalAbuse">Animal abuse </a>
			<div class="collapse" id="collapseAnimalAbuse">
			  <div class="card-body">
			    <p>The following types of content are not allowed on Mockering. This is not a complete list.</p>
			    <ul>
			    	<li>Fighting, cockfighting or other videos in which human onlookers force animals to attack each other. We do allow content featuring wild animal battles, such as nature documentaries.</li>
			    	<li>Non-educational, documentary, scientific or artistic content shows unnecessary pain.</li>
			    	<li>Perform a bullfight when the bull is injured (for example, the bull holds a sword).</li>
			    	<li>Hunting using illegal activities such as bombs or poisons.</li>
			    	<p>Please keep in mind that these are just some examples, if you think the content may violate this policy, please do not post the content.</p>
			    </ul>
			  </div>
			</div>
			<%= render 'whathappen' %>
			<br>
			<br>
			<br>
		</div>
	</div>
</div> 